@import '../../../theming/mixins';

.individual-header {
  &__select {
    width: 15rem;

    mat-form-field {
      margin-bottom: 0;
      background-color: white;
      border-radius: 20px;
      padding: 8px 8px 0 8px;
      width: calc(100% - 16px);
    }

    svg {
      padding: 10px;
      overflow: hidden;
    }
  }

  &__select-map {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__select-graph {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }

  &__button {
    position: relative;
    top: -25px;

    &--graph {
      left: 20px;
    }

    &--temp {
      left: 40px;
    }

    &--humidity {
      left: 60px;
    }
  }

  &__grap-selection {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  ::ng-deep #phaenonet-body &__select {
    .mat-form-field-underline {
      background-color: deeppink;
      display: none;
    }

    .mat-form-field-wrapper {
      margin-bottom: 8px;
      padding-bottom: 0;
      padding-left: 11px;
    }

    .mat-form-field-label-wrapper {
      top: -0.65em;
      padding-top: 0.65em;
    }
  }
}
.mat-selected {
  background-color: #7bb53b;
  color: #ffffff;
}
