@import '../../../theming/mixins';

.individual-header {
  &__select {
    width: 15rem;

    mat-form-field {
      margin-bottom: 0;
      background-color: white;
      border-radius: 20px;
      padding: 8px 8px 0 8px;
      width: calc(100% - 16px);
    }

    svg {
      padding: 10px;
      overflow: hidden;
    }
  }

  &__button-row {
    position: absolute;
  }

  &__button {
    position: relative;
    bottom: 28px;

    &--graph {
      left: 20px;
    }

    &--temp {
      left: 60px;
    }

    &--humidity {
      left: 40px;
    }
  }

  ::ng-deep #phaenonet-body &__select {
    .mat-form-field-underline {
      background-color: deeppink;
      display: none;
    }

    .mat-form-field-wrapper {
      margin-bottom: 8px;
      padding-bottom: 0;
      padding-left: 11px;
    }

    .mat-form-field-label-wrapper {
      top: -0.65em;
      padding-top: 0.65em;
    }
  }
}

.mat-selected {
  background-color: #7bb53b;
  color: #ffffff;
}
