<div class="individual-header">
  <ng-container *ngIf="mapOrGraph === 'Map'">
    <app-individual-header-map [individual$]="individual$" [mode]="mode"></app-individual-header-map>
  </ng-container>
  <app-individual-header-graph
    [displayAirHumidity]="displayAirHumidity"
    [displayAirTemperature]="displayAirTemperature"
    [displaySoilHumidity]="displaySoilHumidity"
    [displaySoilTemperature]="displaySoilTemperature"
    [individual$]="individual$"
    *ngIf="mapOrGraph === 'Graph'"
  ></app-individual-header-graph>
  <div style="position: relative" *ngIf="mode === 'detail' && (individual$ | async)?.sensor">
    <div
      class="individual-header__select"
      [class]="mapOrGraph === 'Map' ? 'individual-header__select-map' : 'individual-header__select-graph'"
    >
      <div clas="individual-header__form-datasource">
        <mat-form-field>
          <mat-label>{{ 'Ansicht' | translate }}</mat-label>
          <mat-select [(value)]="mapOrGraph">
            <mat-option value="Map">{{ 'Karte' | translate }}</mat-option>
            <mat-option value="Graph">{{ 'Messwerte' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="individual-header__grap-selection" *ngIf="mapOrGraph === 'Graph'">
        <mat-checkbox value="AirTemperature" [(ngModel)]="displayAirTemperature" id="individual-header-air-temperature">
          {{ 'Luft Temperatur' | translate }}</mat-checkbox
        >
        <mat-checkbox value="AirHumidity" [(ngModel)]="displayAirHumidity" id="individual-header-air-humidity">
          {{ 'Luft Feuchtigkeit' | translate }}</mat-checkbox
        >
        <mat-checkbox
          value="SoilTemperature"
          [(ngModel)]="displaySoilTemperature"
          translate
          id="individual-header-soil-temperature"
        >
          {{ 'Boden Temperatur' | translate }}</mat-checkbox
        >
        <mat-checkbox value="SoilHumidity" [(ngModel)]="displaySoilHumidity" id="individual-header-soil-humidity">
          {{ 'Boden Feuchtigkeit' | translate }}</mat-checkbox
        >
      </div>
    </div>
  </div>
</div>
