@use '@angular/material' as mat;

@use 'src/theming/mixins';

@use 'src/theming/typography';

.activity-item {
  &__value {
    @include typography.typo-t1;
  }

  &__label {
    @include mixins.detail-label;
  }

  &__card {
    display: flex;
    margin-bottom: 2.125rem;
    cursor: pointer;
  }
}
