@use '@angular/material' as mat;

@import 'src/theming/typography';

@import 'src/theming/mixins';

.observation-item {
  @include teaser-card;

  mat-icon {
    margin-left: auto;
    align-self: center;
    margin-right: 10px;
  }

  &__image {
    @include teaser-image;
  }

  &__image_container {
    @include teaser-image;
    width: 180px;
    height: 180px;
  }

  &__description {
    @include teaser-description;
  }

  &__label {
    @include detail-label;
  }

  &__value {
    @include typo-t1;
  }

  &__phenophase-circle {
    @include phenophase-circle;
  }

  &__name {
    @include teaser-name;
  }
}
