<!-- <div> -->
<div
  [routerLink]="['/' + item?.type + 's', item.individual.year + '_' + item.individual.individual]"
  class="observation-item"
  data-test-id="observation-item"
>
  <div class="observation-item__image_container">
    @if (item.imgUrl$ | async) {
      <img class="observation-item__image" data-test-id="observation-item__image" [src]="item.imgUrl$ | async" />
    }
  </div>
  <div class="observation-item__description">
    <div class="observation-item__name">
      <div class="observation-item__label" data-test-id="observation-item__species">
        {{ item.species?.de | translate }}
      </div>
      <div class="observation-item__value" data-test-id="observation-item_name">{{ item.individual.name }}</div>
    </div>
    <div class="observation-item__observation">
      @if (item.individual.last_observation_date) {
        <div class="observation-item__label">
          {{ 'Letzte Beobachtung' | translate }},
          {{ getLastObservationDate() }}
        </div>
      }
      @if (!item.individual.last_observation_date) {
        <div class="observation-item__label">
          {{ 'Noch keine Beobachtungen' | translate }}
        </div>
      }
      @if (item.lastPhenophase) {
        <div class="observation-item__value">
          <span
            class="observation-item__phenophase-circle"
            [ngStyle]="{ 'background-color': getColor(item.individual.last_phenophase) }"
          ></span>
          {{ item.lastPhenophase.de | translate }}
        </div>
      }
    </div>
  </div>
  <mat-icon svgIcon="arrow-right"></mat-icon>
</div>
