.individual-header-actions {
  &__select {
    width: 15rem;

    mat-form-field {
      margin-bottom: 0;
      background-color: white;
      border-radius: 20px;
      padding: 8px 8px 0 8px;
      width: calc(100% - 16px);
    }

    svg {
      padding: 10px;
      overflow: hidden;
    }
  }

  &__button-row {
    position: absolute;
  }

  &__button {
    position: relative;
    bottom: 28px;

    &--graph {
      left: 20px;
    }

    &--temp {
      left: 60px;
    }

    &--humidity {
      left: 40px;
    }
  }
}

.mat-mdc-selected {
  background-color: #7bb53b;
  color: #ffffff;
}
