@use '@angular/material' as mat;
@use 'src/theming/mixins';
@use 'src/theming/typography';
@use 'src/theming/custom-colours' as colours;

.sensor-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f8f7f2;
  border-radius: 15px;
  width: min-content;
  padding: 8px;

  &__title_line {
    @include typography.typo-t4;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-align: baseline;
    font-size: 0.5rem;
  }

  &__value_line {
    @include typography.typo-t4;
    @include mixins.detail-label;
    padding-bottom: 4px;
    display: grid;
    align-items: grid;
    grid-template-columns: repeat(5, auto);

    &--soil {
      color: colours.$soil-color;
    }

    &--air {
      color: colours.$air-color;
    }
  }

  &__icon {
    height: 20px;
    padding-left: 8px;
    padding-right: 5px;
  }

  &__text {
    text-align: right;
  }

  &__info {
    @include typography.typo-t4;
    border-radius: 50%;
    background-color: #393939;
    color: white;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 0.5rem;
  }
}
