[submodule ".devcontainer"]
    path = .devcontainer
    url = git@github.com:globe-swiss/phaenonet-client-devcontainer.git
[submodule "security"]
    path = security
    url = git@github.com:globe-swiss/phaenonet-client-security.git
