# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
tmp
/out-tsc
protractorFailuresReport/

# dependencies
/node_modules

# IDE
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.metals

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# firebase
.firebase

# local development
/src/local
/.devcontainer
