{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "index.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.component.html", "*.page.html", "*.widget.html"],
      "options": {
        "parser": "angular"
      }
    }
  ],
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none"
}
