rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /images {
     // Cascade read to any image type at any path
     match /{allImages=**} {
       allow read;
     }

     // Allow write files to the users path when:
     // 1) File is less than 5MB
     // 2) Content type is an image
     // 3) folder matches his uid
     match /{user_id}/{allImages=**} {
       allow write: if request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*')
                    && request.auth.uid == user_id
     }
   }
  }
}
