@use 'src/theming/mixins';
@use 'src/theming/typography';

.individual-observation-view {
  & {
    margin-top: 2.5625rem;
  }

  &__phenophase-group {
    @include mixins.detail-label;
  }

  &__phenophase {
    @include mixins.detail-value-t1;
  }

  &__form-field {
    & {
      width: 100%;
    }
  }

  &__add-phenophase {
    & {
      cursor: pointer;
    }
  }

  &__year {
    @include mixins.year-select;

    & {
      margin-left: 40px;
      margin-bottom: 0;
    }
  }

  &__title {
    & {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__add-phenophase--disabled {
    & {
      cursor: not-allowed;
      color: #f7f5f2;
    }
  }

  &__edit-phenophase {
    & {
      cursor: pointer;
    }
  }

  &__detail-sub {
    @include mixins.detail-value-t2;

    & {
      font-style: italic;
      margin-top: -1.25rem;
      padding-bottom: 1.25rem;
    }
  }
}
