<div class="individual-observation-view__title">
  <h2>{{ 'Phänophasen' | translate }}</h2>
  <div class="individual-observation-view__year">
    <mat-select [value]="individualService.composedId(individual$ | async)" (selectionChange)="selectYear($event)">
      <mat-option [value]="year.composedId" *ngFor="let year of years$ | async" [attr.data-testid]="year.composedId">{{
        year.year
      }}</mat-option>
    </mat-select>
  </div>
</div>
<div *ngFor="let groupedItem of phenophaseObservationsGroups$ | async" class="individual-observation-view">
  <ng-container *ngIf="(isEditable$ | async) || groupedItem.hasObservations">
    <div class="individual-observation-view__phenophase-group">{{ groupedItem.phenophaseGroup.de | translate }}</div>
    <div *ngFor="let item of groupedItem.phenophaseObservations">
      <ng-container *ngIf="(isEditable$ | async) || item.observation !== null">
        <div class="individual-observation-view__phenophase">{{ item.phenophase.de | translate }}</div>
        <mat-form-field class="individual-observation-view__form-field">
          <input
            matInput
            [id]="item.phenophase.id"
            [matDatepicker]="fakePicker"
            [value]="item.observation?.date"
            readonly="true"
            data-test-id="observationDate"
          />
          <mat-label translate>{{ item.phenophase.description_de }}</mat-label>
          <mat-datepicker #fakePicker></mat-datepicker>
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation === null && item.limits.isEditable"
            matSuffix
            class="individual-observation-view__add-phenophase"
            color="primary"
            (click)="editPhenophaseDate(item)"
            data-test-id="addObservationIcon"
          >
            add_circle</mat-icon
          >
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation === null && !item.limits.isEditable"
            matSuffix
            class="individual-observation-view__add-phenophase--disabled"
            color="accent"
            >add_circle</mat-icon
          >
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation !== null"
            matSuffix
            color="primary"
            class="individual-observation-view__edit-phenophase"
            (click)="editPhenophaseDate(item)"
            data-test-id="editObservationIcon"
            >edit</mat-icon
          >
        </mat-form-field>
        <div class="individual-observation-view__detail-sub" *ngIf="item.observation?.comment?.toString() as comment">
          {{ 'Kommentar' | translate }}: {{ staticComments[comment] | translate }}
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
