<button class="phenonet-dialog-component-close-button" mat-button (click)="close()"><mat-icon>clear</mat-icon></button>
<div class="phenophase-dialog">
  <h2 mat-dialog-title translate>BEOBACHTUNG ERFASSEN</h2>
  <div class="phenophase-dialog__label">{{ data.phenophase.de | translate }}</div>
  <div class="phenophase-dialog__label">{{ data.phenophase.description_de | translate }}</div>
  <div mat-dialog-content>
    <mat-form-field class="phenophase-dialog__form-field">
      <mat-label translate>Datum</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [ngModel]="data.observation?.date"
        (dateInput)="setObservationDate($event.value.toDate())"
        [min]="data.limits.start_day"
        [max]="data.limits.end_day"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker" data-test-id="datePickerToggle"></mat-datepicker-toggle>
      <mat-datepicker #picker [touchUi]="showTouchCalendar$ | async"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="phenophase-dialog__form-field" *ngIf="data.availableComments.length > 0">
      <mat-label>{{ 'Kommentar' | translate }}</mat-label>
      <mat-select [(value)]="observationComment">
        <mat-option>{{ 'Bitte wählen' | translate }}</mat-option>
        <mat-option *ngFor="let element of data.availableComments" [value]="element.id">
          {{ element.de | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="phenophase-dialog__buttons">
    <button
      class="phenophase-dialog__button"
      mat-flat-button
      [mat-dialog-close]="data"
      color="accent"
      cdkFocusInitial
      data-test-id="saveButton"
    >
      {{ 'Speichern' | translate }}
    </button>
    <button
      class="phenophase-dialog__button"
      mat-flat-button
      (click)="deleteAndClose()"
      color="warn"
      cdkFocusInitial
      data-test-id="deleteButton"
    >
      {{ 'Löschen' | translate }}
    </button>
  </div>
</div>
