.geopos-width {
  width: 70%;
}

.right-align {
  text-align: right;
}

.gradient-info-img {
  height: 61px;
  padding-left: 2rem;
}

.image-container {
  width: 100%;
  height: 302px;
  overflow: hidden;
}

.individual-map-with-image ::ng-deep .map-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 0rem;
}
