<h1 mat-dialog-title translate>BEOBACHTUNG ERFASSEN</h1>
<h3>{{ data.phenophase.de | translate }}</h3>
<h4>{{ data.phenophase.description_de | translate }}</h4>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label translate>Datum</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [ngModel]="data.observation.toNullable().date"
      (dateInput)="data.observation.toNullable().date = $event.value.toDate()"
      [min]="data.limits.start_day"
      [max]="data.limits.end_day"
      readonly
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width" *ngIf="data.availableComments.length > 0">
    <mat-label>{{ 'Kommentar' | translate }}</mat-label>
    <mat-select [(value)]="data.observation.toNullable().comment">
      <mat-option>{{ 'Bitte wählen' | translate }}</mat-option>
      <mat-option *ngFor="let element of data.availableComments" [value]="element.id">
        {{ element.de | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="data" cdkFocusInitial>{{ 'Speichern' | translate }}</button>
</div>
