<mat-toolbar id="nav-component">
  <mat-toolbar-row>
    <div gdColumns="repeat(8, 1fr)" class="menu-row">
      <div gdColumn="2" gdColumn.lt-md="1" class="logo">
        <img [routerLink]="''" gdArea="logo" src="assets/img/Bildmarke-Phaenonet_rgb.png" alt="PhaenoNet Logo" />
      </div>
      <div gdColumn="3 / span 5" gdColumn.lt-md="2 / span 7" fxLayoutAlign="flex-end" id="buttons">
        <div class="left-border" *ngIf="isLoggedIn()">
          <button mat-button class="nav-button" [routerLink]="['profile']">{{ 'Profil' | translate }}</button>
        </div>
        <div class="left-border" *ngIf="!isLoggedIn()">
          <button mat-button class="nav-button" [routerLink]="['auth/login']">{{ 'Anmelden' | translate }}</button>
        </div>
        <button mat-button class="nav-button" [routerLink]="['map']">{{ 'Karte' | translate }}</button>
        <button mat-button class="nav-button" [routerLink]="['statistics']">{{ 'Auswertung' | translate }}</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
