@use '@angular/material' as mat;

@import '../../../theming/typography';

@import '../../../theming/mixins';

mat-toolbar.mat-toolbar {
  background-color: white;
  height: 100%;

  mat-toolbar-row {
    padding: 0;
  }
}

#nav-component mat-toolbar-row {
  height: 100%;
}

.nav-component {
  width: 100%;
  height: 100%;

  &__row {
    @include mobile-max-width;
    @include default-left-right-padding;

    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
  }

  &__logo {
    padding: 28px;
    padding-left: 0;

    img {
      width: 30px;
      height: 36px;
    }
  }

  &__buttons {
    margin-left: auto;
    align-self: center;
    display: flex;
  }

  &__button {
    @include typo-t4;
    color: #5d5d5d;
  }
}
