<div class="nav-component">
  <mat-toolbar id="nav-component">
    <mat-toolbar-row>
      <div class="nav-component__row">
        <div class="nav-component__logo">
          <a href="https://www.phaenonet.ch/{{ lang() }}/" target="_blank">
            <img src="/assets/img/Bildmarke-Phaenonet_rgb.png" alt="PhaenoNet Logo"
          /></a>
        </div>
        <div class="nav-component__buttons">
          <div class="left-border" *ngIf="isLoggedIn()">
            <button mat-button class="nav-component__button" [routerLink]="['profile']">
              {{ 'Profil' | translate }}
            </button>
          </div>
          <div class="left-border" *ngIf="!isLoggedIn()">
            <button mat-button class="nav-component__button" [routerLink]="['auth/login']">
              {{ 'Anmelden' | translate }}
            </button>
          </div>
          <button mat-button class="nav-component__button" [routerLink]="['map']">{{ 'Karte' | translate }}</button>
          <button mat-button class="nav-component__button" [routerLink]="['statistics']">
            {{ 'Auswertung' | translate }}
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
