@use '~@angular/material' as mat;

@import '../../../theming/typography';

mat-toolbar.mat-toolbar {
  background-color: white;
  height: 100%;

  mat-toolbar-row {
    padding: 0;
  }
}

.menu-row {
  width: 100%;
  height: 100%;
}

.menu-row #buttons {
  align-self: center;
}

.logo {
  padding: 28px;

  img {
    width: 30px;
    height: 36px;
  }
}

#nav-component mat-toolbar-row {
  height: 100%;
}

.nav-button {
  @include mat.typography-level($phaenonet-typography, 'button');
  color: #5d5d5d;
}
