mat-toolbar.mat-toolbar {
  background-color: white;
  height: 100%;

  mat-toolbar-row {
    padding: 0;
  }
}

.menu-row {
  width: 100%;
  height: 100%;
}

.language-select-form-field {
  width: 8em;
  ::ng-deep .mat-form-field-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    .mat-form-field-infix {
      padding-top: 0.5em;
    }
    .mat-select-arrow-wrapper {
      transform: translateY(0);
    }
  }
}

.logo {
  img {
    max-width: 4rem;
  }
}

#nav-component mat-toolbar-row {
  height: 100%;
}

#userarea {
  cursor: pointer;
}
