<div class="invite-list">
  @let openInvites = openInvites$ | async;
  @let acceptedInvites = acceptedInvites$ | async;

  @if (openInvites?.length > 0) {
    <div class="invite-list__title">
      <h2 translate>OFFENE EINLADUNGEN</h2>
    </div>

    <div class="invite-list__content">
      @for (invite of openInvites; track invite.id) {
        <app-invite-item [item]="invite"></app-invite-item>
      }
    </div>
  }

  @if (acceptedInvites?.length > 0) {
    <div class="invite-list__title">
      <h2 translate>ANGENOMMENE EINLADUNGEN</h2>
    </div>
    <div class="invite-list__content">
      @for (invite of acceptedInvites; track invite.id) {
        <app-invite-item [item]="invite"></app-invite-item>
      }
    </div>
  }

  @if (!openInvites?.length && !acceptedInvites?.length) {
    <div class="invite-list__content">
      <div class="invite-list__no-invites">
        <img class="invite-list__no-invites-image" src="assets/img/illu_noinvites.png" alt="No invites illustration" />
        <p class="invite-list__no-invites-text" data-test-id="invite_list_no_invites">
          Es sind noch keine Einladungen vorhanden
        </p>
      </div>
    </div>
  }

  <div class="invite-list__title"></div>
  <div class="invite-list__buttons">
    <button class="invite-list__button" id="invite" mat-flat-button color="primary" (click)="invite()" translate>
      Jetzt einladen
    </button>
  </div>
</div>
