@use '@angular/material' as mat;

@use 'src/theming/typography';

@use 'src/theming/mixins';

.invite-card {
  @include mixins.teaser-card;

  &__image {
    @include mixins.teaser-image;
  }

  &__description {
    @include mixins.teaser-description;
  }

  &__label {
    @include mixins.detail-label;
  }

  &__value {
    @include mixins.teaser-name;
  }

  &__value--last {
    padding-bottom: 0;
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    padding-right: 25px;
  }

  &__button {
    align-self: center;
  }
}
