<div class="invite-card">
  <img
    class="invite-card__image"
    src="assets/img/user_placeholder.svg"
    [style.cursor]="item.register_user ? 'pointer' : 'default'"
    [routerLink]="item.register_user ? ['/profile', item.register_user] : []"
  />
  <div class="invite-card__content">
    <div class="invite-card__label">{{ 'Einladung für' | translate }}</div>
    <div id="email" data-test-id="item_email" class="invite-card__value">{{ item.email }}</div>
    @if (item.register_date) {
      <div class="invite-card__label">
        {{ 'Profil' | translate }} ({{ 'registriert am' | translate }} {{ item.register_date | shortdate }})
      </div>
    } @else {
      @if (item.sent) {
        <div class="invite-card__label">{{ 'Versendet am' | translate }} {{ item.sent | shortdate }}</div>
      } @else {
        <div class="invite-card__label">Wird gesendet…</div>
      }
    }
    @if (item.register_nick) {
      <div class="invite-card__value invite-card__value--last">{{ item.register_nick }}</div>
    }

    <div class="invite-card__button-group">
      @if (item.register_date) {
        <app-user-subscription-button
          [userId]="item.register_user"
          [mode]="'COMPACT'"
          [nomargin]="true"
        ></app-user-subscription-button>
        <button mat-flat-button color="warn" (click)="deleteInvite()">
          {{ 'Löschen' | translate }}
        </button>
      } @else {
        <button mat-flat-button color="accent" (click)="resendInvite()">
          {{ 'Erneut senden' | translate }}
        </button>
        <button mat-flat-button color="warn" (click)="deleteInvite()">
          {{ 'Löschen' | translate }}
        </button>
      }
    </div>
  </div>
</div>
