<div class="invite-card">
  <img
    class="invite-card__image"
    src="assets/img/user_placeholder.svg"
    [style.cursor]="item.register_user ? 'pointer' : 'default'"
    [routerLink]="item.register_user ? ['/profile', item.register_user] : []"
  />
  <div class="invite-card__content">
    <div class="invite-card__label">{{ 'Einladung für' | translate }}</div>
    <div id="email" data-test-id="item_email" class="invite-card__value">{{ item.email }}</div>
    <div class="invite-card__label" *ngIf="item.register_date; else notregistered">
      {{ 'Profil' | translate }} ({{ 'registriert am' | translate }} {{ item.register_date | shortdate }})
    </div>
    <div class="invite-card__value invite-card__value--last" *ngIf="item.register_nick">{{ item.register_nick }}</div>

    <div class="invite-card__button-group">
      <ng-container *ngIf="item.register_date; else pendingInvite">
        <app-user-subscription-button
          [userId]="item.register_user"
          [mode]="'COMPACT'"
          [nomargin]="true"
        ></app-user-subscription-button>
        <button mat-flat-button color="warn" (click)="deleteInvite()">
          {{ 'Löschen' | translate }}
        </button>
      </ng-container>
      <ng-template #pendingInvite>
        <button mat-flat-button color="accent" (click)="resendInvite()">
          {{ 'Erneut senden' | translate }}
        </button>
        <button mat-flat-button color="warn" (click)="deleteInvite()">
          {{ 'Löschen' | translate }}
        </button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #notregistered>
  <ng-container *ngIf="item.sent; else notsent">
    <div class="invite-card__label">{{ 'Versendet am' | translate }} {{ item.sent | shortdate }}</div>
  </ng-container>
</ng-template>

<ng-template #notsent>
  <div class="detail-label">Wird gesendet…</div>
</ng-template>
