@use '@angular/material' as mat;

@use 'src/theming/mixins';

@use 'src/theming/typography';

.invite-list {
  @include mixins.detail-view-content;

  &__title {
    @include mixins.left-column;

    &:not(:first-of-type) {
      @include mixins.for-tablet-and-smaller {
        padding-top: 40px;
      }
    }
  }

  &__right-column {
    @include mixins.profile-detail-right-column;
  }

  &__content {
    @include mixins.profile-detail-right-column;
    @include typography.typo-t2;
  }

  &__button {
    @include mixins.button;
  }

  &__buttons {
    @include mixins.buttons;
  }

  &__no-invites {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px; // Same as button max-width from mixins
    width: fit-content;
    min-width: 220px; // Approximate button width
    margin-left: -50px;

    @include mixins.for-tablet-and-smaller {
      margin: 0 auto;
    }
  }

  &__no-invites-image {
    display: block;
    margin-bottom: 20px;
  }

  &__no-invites-text {
    @include typography.typo-t2;
    margin: 0;
    text-align: center;
  }
}
