<div class="individual-buttons">
  <div class="individual-buttons__buttons">
    @if (isEditable$ | async) {
      <button
        class="individual-buttons__button"
        mat-flat-button
        color="primary"
        type="button"
        id="edit-button"
        [routerLink]="['/individuals', individualId, 'edit']"
      >
        {{ 'Objekt bearbeiten' | translate }}
      </button>
    }
    @if (isEditable$ | async) {
      <button
        class="individual-buttons__button individual-buttons__button--secondary"
        mat-flat-button
        color="accent"
        type="button"
        id="delete-button"
        (click)="deleteIndividual()"
      >
        {{ 'Objekt löschen' | translate }}
      </button>
    }
  </div>
</div>
