.map-container {
  height: 100%;
}

.map-actions {
  position: fixed;
  left: 13.5%;
  bottom: 5%;
}

.extended-fab-button {
  width: unset;
  border-radius: 35px;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 2.5rem;
  height: 70px;

  .mat-icon {
    margin-right: 10px;
  }

  .extended-fab-button__text {
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 959px) {
  .map-actions {
    left: 5%;
  }

  .extended-fab-button {
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;

    .mat-icon {
      margin-right: 5px;
    }
  }
}

.map-info-window {
  cursor: pointer;
}

.map-info-content {
  font-size: 1rem;
}

.map-filter {
  position: fixed;
  left: 13.5%;
  top: 8rem;
  background-color: white;
  border-radius: 20px;

  form {
    display: flex;
    flex-direction: row;
    * {
      margin: 3px 5px -5px 5px;
      display: flex;
      flex-direction: column;
    }
    .seperator {
      background-color: #f0f0f0;
      width: 1px;
    }
  }
}

@media screen and (max-width: 959px) {
  .map-filter {
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

::ng-deep #phaenonet-body #form-year .mat-form-field-infix {
  width: 7rem;
}
::ng-deep #phaenonet-body #form-datasource .mat-form-field-infix {
  width: 7rem;
}

::ng-deep #phaenonet-body #form-species .mat-form-field-infix {
  width: 15rem;
}

::ng-deep .map-filter .mat-form-field-underline {
  display: none;
}

@media screen and (max-width: 959px) {
  ::ng-deep #phaenonet-body #form-year .mat-form-field-infix {
    width: 6rem;
  }
  ::ng-deep #phaenonet-body #form-datasource .mat-form-field-infix {
    width: 6rem;
  }

  ::ng-deep #phaenonet-body #form-species .mat-form-field-infix {
    width: 6rem;
  }
}
