<div gdColumns="repeat(8, 1fr)" class="map-container">
  <google-map
    class="map"
    gdColumn="1 / span 8"
    width="100%"
    height="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
  >
    <map-marker
      #marker
      *ngFor="let individualWithMarkerOpts of (individualsWithMarkerOpts | async)"
      [position]="individualWithMarkerOpts.individual.geopos"
      [options]="individualWithMarkerOpts.markerOptions"
      (mapClick)="
        openInfoWindow(marker, individualWithMarkerOpts.individual.geopos, individualWithMarkerOpts.individual)
      "
    >
    </map-marker>
    <map-info-window>
      <ng-container *ngIf="(infoWindowType | async) === 'globe'">
        <ng-container *ngIf="(globeInfoWindowData | async) as d">
          <div fxLayout="row" [routerLink]="d.url" class="map-info-window">
            <img src="assets/img/Bildmarke-Phaenonet_rgb.png" style="max-height: 100px;" />
            <div fxLayout="column" style="margin-left: 15px; margin-right: 15px;">
              <div class="mat-small">
                {{ d.species.de | translate }}
              </div>
              <div>{{ d.individual.name }}</div>
              <div class="mat-small" *ngIf="d.phenophase">
                {{ 'Letzte Beobachtung' | translate }},
                {{ formatShortDate(d.individual.last_observation_date) }}
              </div>
              <div *ngIf="d.phenophase">
                <span class="phenophase-circle" [ngStyle]="{ 'background-color': colorMap[(d.phenophase?.id)] }"></span>
                {{ d.phenophase?.name_de | translate }}
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(infoWindowType | async) === 'meteoswiss'">
        <ng-container *ngIf="(meteoswissInfoWindowData | async) as d">
          <div fxLayout="row" [routerLink]="d.url" class="map-info-window">
            <img src="assets/img/Bildmarke-Phaenonet_rgb.png" style="max-height: 100px;" />
            <div fxLayout="column" style="margin-left: 15px; margin-right: 15px;">
              <div class="mat-small">
                {{ 'Meteoswiss' | translate }}
              </div>
              <div>{{ d.individual.name }}</div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </map-info-window>
  </google-map>
  <div class="map-actions">
    <button mat-fab class="extended-fab-button" color="primary" [routerLink]="'/individuals/new/edit'">
      <mat-icon>add</mat-icon>
      <span>{{ 'Objekt hinzufügen' | translate }}</span>
    </button>
  </div>
  <div class="map-filter">
    <div>
      <form [formGroup]="mapFormGroup">
        <div id="form-year">
          <mat-form-field>
            <mat-label>{{ 'Phänojahr' | translate }}</mat-label>
            <mat-select formControlName="year">
              <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="seperator"></div>
        <div id="form-datasource">
          <mat-form-field>
            <mat-label>{{ 'Datenquelle' | translate }}</mat-label>
            <mat-select formControlName="datasource">
              <mat-option *ngFor="let datasource of datasources" [value]="datasource">{{
                datasource | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="seperator"></div>
        <div id="form-species">
          <mat-form-field>
            <mat-label>{{ 'Art' | translate }}</mat-label>
            <mat-select formControlName="species">
              <mat-option *ngFor="let specie of (species | async)" [value]="specie.id">{{
                specie.de | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>
