<div class="map-overview">
  <google-map width="100%" height="100%" [center]="center" [zoom]="zoom" [options]="options">
    <map-marker
      #marker="mapMarker"
      *ngFor="let individualWithMarkerOpts of mapMarkers$ | async"
      [position]="individualWithMarkerOpts.geopos"
      [options]="individualWithMarkerOpts.markerOptions"
      (mapClick)="openInfoWindow(marker, individualWithMarkerOpts.individualId)"
    >
    </map-marker>
    <map-info-window>
      <ng-container *ngIf="infoWindowData$ | async | guardType: isIndividualInfoWindowData as d">
        <div [routerLink]="d.url" class="map-overview__info-window">
          <div class="map-overview__info-window-image-container">
            <img class="map-overview__info-window-image" *ngIf="d.imgUrl$ | async" [src]="d.imgUrl$ | async" />
          </div>
          <div class="map-overview__info-window-text">
            <div class="map-overview__info-window-label">
              {{ d.species_name | translate }}
              <app-sensors-badge [sensorLiveData]="d.sensor"></app-sensors-badge>
            </div>
            <div class="map-overview__info-window-value">{{ d.individual_name }}</div>
            <div class="map-overview__info-window-label" *ngIf="d.phenophase_name">
              {{ 'Letzte Beobachtung' | translate }}:
              {{ d.last_observation_date | shortdate }}
            </div>
            <div *ngIf="d.phenophase_name" class="map-overview__info-window-value">
              {{ d.phenophase_name | translate }}
            </div>
          </div>
          <mat-icon>chevron_right</mat-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="infoWindowData$ | async | guardType: isStationInfoWindowData as d">
        <div class="map-overview__info-window" [routerLink]="d.url">
          <img src="assets/img/pic_placeholder.svg" style="max-height: 100px" />
          <div class="map-overview__info-window-text">
            <div class="map-overview__info-window-caption">
              {{ d.source | translate }}
            </div>
            <div>{{ d.individual_name }}</div>
          </div>
          <mat-icon>chevron_right</mat-icon>
        </div>
      </ng-container>
    </map-info-window>
  </google-map>
  <div class="map-overview__map-actions">
    <button mat-fab class="map-overview__extended-fab-button" color="primary" [routerLink]="'/individuals/new/edit'">
      <mat-icon>add</mat-icon>
      <span>{{ 'Objekt hinzufügen' | translate }}</span>
    </button>
  </div>
  <div class="map-overview__map-filter">
    <div>
      <form [formGroup]="filter">
        <div id="form-year">
          <mat-form-field>
            <mat-label>{{ 'Phänojahr' | translate }}</mat-label>
            <mat-select formControlName="year">
              <mat-option *ngFor="let year of yearFilterValues$ | async" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="form-datasource">
          <mat-form-field>
            <mat-label>{{ 'Datenquelle' | translate }}</mat-label>
            <mat-select formControlName="datasource">
              <mat-option *ngFor="let datasource of datasourceFilterValues" [value]="datasource">{{
                datasource | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="form-species">
          <mat-form-field>
            <mat-label>{{ 'Art' | translate }}</mat-label>
            <mat-select formControlName="species">
              <mat-option *ngFor="let specie of speciesFilterValues$ | async" [value]="specie.id">{{
                specie.de | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>
