@use '~@angular/material' as mat;

@import '../../theming/typography';

.map-overview {
  height: 100%;

  map-info-window {
    cursor: pointer;
  }

  &__info-window {
    display: flex;
    flex-direction: row;
  }

  &__info-window-image-container {
    height: 100px;
    width: 100px;
  }

  &__info-window-image {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__info-window-text {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__info-window-label {
    @include mat.typography-level($phaenonet-typography, 'button');
  }

  &__info-window-value {
    @include mat.typography-level($phaenonet-typography, 'body-2');
  }

  &__info-window-caption {
    @include mat.typography-level($phaenonet-typography, 'caption');
  }

  &__map-actions {
    position: fixed;
    left: 13.5%;
    bottom: 5%;

    @include for-tablet-and-smaller {
      left: 5%;
    }
  }

  &__extended-fab-button {
    width: unset;
    border-radius: 35px;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 2.5rem;
    height: 70px;

    @include for-tablet-and-smaller {
      border-radius: 25px;
      padding-left: 15px;
      padding-right: 15px;
      height: 57px;
    }

    .mat-icon {
      margin-right: 10px;
      @include for-tablet-and-smaller {
        margin-right: 5px;
      }
    }
  }

  &__map-filter {
    position: fixed;
    left: 13.5%;
    top: 8rem;
    background-color: white;
    border-radius: 20px;

    @include for-tablet-and-smaller {
      top: 6.5rem;
      left: 50%;
      transform: translateX(-50%);
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    form {
      display: flex;
      flex-direction: row;

      * {
        margin: 3px 5px -5px 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

::ng-deep #phaenonet-body #form-year .mat-form-field-infix {
  width: 7rem;
  @include for-tablet-and-smaller {
    width: 6rem;
  }
}

::ng-deep #phaenonet-body #form-datasource .mat-form-field-infix {
  width: 7rem;
  @include for-tablet-and-smaller {
    width: 6rem;
  }
}

::ng-deep #phaenonet-body #form-species .mat-form-field-infix {
  width: 15rem;
  @include for-tablet-and-smaller {
    width: 6rem;
  }
}
