@use '@angular/material' as mat;

@import '../../../../theming/mixins';

@import '../../../../theming/palettes';

.mat-subscribed {
  background-color: #7bb53b;
  color: #ffffff;
}

.mat-button-not-subscribed {
  background-color: mat.get-color-from-palette($phaenonet-primary, 500);
  color: #ffffff;
}

.mat-button-subscribed {
  background-color: mat.get-color-from-palette($phaenonet-primary, 'A100');
  color: #ffffff;
}

.user-subscription-button {
  &__button {
    @include button;
  }
}
