<div class="map">
  <google-map width="100%" height="100%" [options]="staticOptions" (mapClick)="closeInfoWindow()">
    @for (individualWithMarkerOpts of mapMarkers$ | async; track individualWithMarkerOpts) {
      <map-marker
        #marker="mapMarker"
        [position]="individualWithMarkerOpts.geopos"
        [options]="individualWithMarkerOpts.markerOptions"
        (mapClick)="openInfoWindow(marker, individualWithMarkerOpts.individualId)"
        data-test-id="map-marker"
      >
      </map-marker>
    }
    <map-info-window data-test-id="info-window">
      @if (infoWindowData$ | async | guardType: isIndividualInfoWindowData; as d) {
        <div [routerLink]="d.url" class="map__info-window">
          <div class="map__info-window-image-container">
            @if (d.imgUrl$ | async) {
              <img class="map__info-window-image" [src]="d.imgUrl$ | async" data-test-id="individual-image" />
            }
          </div>
          <div class="map__info-window-text">
            <div class="map__info-window-label">
              {{ d.species_name | translate }}
              <app-sensors-badge [sensorLiveData]="d.sensor"></app-sensors-badge>
            </div>
            <div class="map__info-window-value">{{ d.individual_name }}</div>
            @if (d.phenophase_name) {
              <div class="map__info-window-label">
                {{ 'Letzte Beobachtung' | translate }}: {{ d.last_observation_date | shortdate }}
              </div>
            }
            @if (d.phenophase_name) {
              <div class="map__info-window-value">{{ d.phenophase_name | translate }}</div>
            }
          </div>
          <mat-icon>chevron_right</mat-icon>
        </div>
      }
      @if (infoWindowData$ | async | guardType: isStationInfoWindowData; as d) {
        <div class="map__info-window" [routerLink]="d.url">
          <img src="assets/img/pic_placeholder.svg" style="max-height: 100px" data-test-id="individual-placeholder" />
          <div class="map__info-window-text">
            <div class="map__info-window-caption">{{ d.source | translate }}</div>
            <div>{{ d.individual_name }}</div>
          </div>
          <mat-icon>chevron_right</mat-icon>
        </div>
      }
    </map-info-window>
  </google-map>
  <div class="map__map-actions" data-test-id="actions-component">
    <button
      mat-flat-button
      class="map__flat-button map__desktop-button"
      color="primary"
      [routerLink]="'/individuals/new/edit'"
    >
      <mat-icon>add</mat-icon>
      <span>{{ 'Objekt hinzufügen' | translate }}</span>
    </button>
    <button mat-fab class="map__fab-button map__mobile-button" color="primary" [routerLink]="'/individuals/new/edit'">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="accent" class="map__fab-button" (click)="switchView()">
      <mat-icon>map</mat-icon>
    </button>
  </div>
  <div class="map__map-filter" data-test-id="filter-component">
    <form [formGroup]="filter">
      <div class="map__map-filter__year">
        <mat-form-field>
          <mat-label>{{ 'Phänojahr' | translate }}</mat-label>
          <mat-select formControlName="year" data-test-id="select-year">
            @for (year of yearFilterValues$ | async; track year) {
              <mat-option [value]="year" [attr.data-testid]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="map__map-filter__datasource">
        <mat-form-field>
          <mat-label>{{ 'Datenquelle' | translate }}</mat-label>
          <mat-select formControlName="datasource" data-test-id="select-source">
            @for (datasource of datasourceFilterValues; track datasource) {
              <mat-option [value]="datasource" [attr.data-testid]="datasource">{{ datasource | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="map__map-filter__species">
        <mat-form-field>
          <mat-label>{{ 'Art' | translate }}</mat-label>
          <mat-select formControlName="species" data-test-id="select-species">
            @for (specie of speciesFilterValues$ | async; track specie) {
              <mat-option [value]="specie.id" [attr.data-testid]="specie.id">{{ specie.de | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
