@use '@angular/material' as mat;

@import 'src/theming/typography';
@import 'src/theming/custom-colours';

.sensor-badge {
  display: flex;
  align-items: center;
  background-color: #f8f7f2;
  border-radius: 15px;
  width: min-content;
  padding-top: 4px;
  padding-bottom: 4px;

  &__icon {
    height: 20px;
    padding-left: 8px;
    padding-right: 5px;
  }

  &__text {
    @include typo-t4;
    font-weight: 500;

    &--soil {
      color: $soil-color;
    }

    &--air {
      color: $air-color;
    }

    &:last-of-type {
      padding-right: 10px;
    }
  }
}
