<div gdColumns="repeat(8, 1fr)">
  <mat-card gdColumn="4 / span 2" gdColumn.lt-md="1 / span 8" class="detail-view">
    <mat-card-header>
      <mat-card-title>{{ 'Bis bald' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'Sie haben sich erfolgreich ausgeloggt' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="accent" [routerLink]="[loginUrl]">
        {{ 'Einloggen' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
