<div gdColumns="repeat(8, 1fr)">
  <div gdColumn="3 / span 2">
    <div>
      <h3 translate>REGISTRIEREN</h3>
    </div>
    <div>
      <p translate>Herzlich Willkommen bei Phaenonet.</p>
      <p translate>
        Möchten Sie uns helfen mehr Daten für die wichtigen phänologischen Untersuchungen zu sammeln, indem Sie Ihre
        eigenen Beobachtungen zu Pflanzen melden?
      </p>
      <p translate>Wir freuen uns, Sie in unsere Community aufzunehmen!</p>
    </div>
  </div>
  <div gdColumn="5 / span 2">
    <div>
      <form [formGroup]="registerForm" fxLayout="column" *ngIf="showRegisterForm()">
        <mat-form-field>
          <mat-label>{{ 'Anzeigename bei PhaenoNet (öffentlich)' | translate }} </mat-label>
          <input
            matInput
            type="text"
            formControlName="nickname"
            id="nickname"
            placeholder="{{ 'Nickname' | translate }}"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Vorname' | translate }} </mat-label>
          <input
            matInput
            type="text"
            formControlName="firstname"
            id="firstname"
            placeholder="{{ 'Vorname' | translate }}"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Nachname' | translate }} </mat-label>
          <input
            matInput
            type="text"
            formControlName="lastname"
            id="lastname"
            placeholder="{{ 'Nachname' | translate }}"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'E-Mail' | translate }} </mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            autofocus
            id="email"
            placeholder="{{ 'E-Mail' | translate }}"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Passwort' | translate }} </mat-label>
          <input matInput type="password" formControlName="password" id="password" required minlength="6" />
          <mat-error>{{ 'Das Passwort muss mindestens 6 Zeichen lang sein.' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Passwort Bestätigung' | translate }} </mat-label>
          <input matInput type="password" formControlName="passwordConfirm" id="passwordConfirm" required />
        </mat-form-field>
        <mat-error *ngIf="registerForm.hasError('passwordMissmatch')">
          {{ 'Die Passwörter stimmen nicht überein.' | translate }}
        </mat-error>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          (click)="register()"
          id="register-button"
          [disabled]="registerForm.invalid"
        >
          {{ 'Jetzt registrieren' | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
