@use '@angular/material' as mat;

@import '../../../theming/typography';

@import '../../../theming/mixins';

button.badge {
  transform: scale(0.7);
  width: 20px;
}

button.navigation {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0.5rem;
  width: 12.5rem;
}

.individual-description {
  &__label {
    @include detail-label;
  }

  &__sensor-badge {
    padding-top: 15px;
    display: flex;
    align-items: center;
  }

  &__name {
    @include typo-t1;
    margin-bottom: 20px;
  }

  &__open-mobile-info {
    @include for-phone {
      display: none;
    }
  }

  &__phenophase-circle {
    @include phenophase-circle;
  }

  &__creator-name {
    @include detail-value;
    @include typo-t1;

    text-decoration: none;
  }

  &__value {
    @include detail-value;
    padding-bottom: 10px;
  }

  &__value-addition {
    @include detail-value-regular;
  }
}
