@use '@angular/material' as mat;

@import '../../../../theming/phaenonet-theme';

.activity-title {
  @include mat.typography-level($phaenonet-typography, 'body-1');
  padding-top: 0.125rem;
}

.activity {
  margin-bottom: 2.125rem;
  cursor: pointer;
}
