@use '@angular/material' as mat;

@import '../../../../theming/mixins';

@import '../../../../theming/typography';

.activity-item {
  &__value {
    @include typo-t1;
  }

  &__label {
    @include detail-label;
  }

  &__card {
    display: flex;
    margin-bottom: 2.125rem;
    cursor: pointer;
  }
}
