<div class="container">
  <h1>Connect Sensor</h1>
  <ng-container *ngIf="cameraAvailable">
    <!-- ngx-scanner-qrcode -->
    <ngx-scanner-qrcode #scanner="scanner" [config]="config" (event)="onEvent($event)"></ngx-scanner-qrcode>

    <!-- data  -->
    <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

    <!-- loading -->
    <p *ngIf="scanner.isLoading">⌛ Loading...</p>

    <!-- camera -->
    <button
      class="btn"
      [class.btn-info]="!scanner.isStart"
      [class.btn-warning]="scanner.isStart"
      [disabled]="!scanner.isStart"
    >
      <img (click)="camera(scanner)" src="https://filedn.com/lKWj9QCXMXvHd1cjTremog8/rotate-camera.png" width="30px" />
    </button>
  </ng-container>
  <ng-container *ngIf="!cameraAvailable"> form with devuid </ng-container>
</div>
