@import '../../../../theming/mixins';

@import '../../../../theming/typography';

.individual-observation-view {
  margin-top: 2.5625rem;

  &__label {
    @include detail-label;
  }

  &__form-field {
    width: 100%;
  }

  &__add-phenophase {
    cursor: pointer;
  }

  &__add-phenophase--disabled {
    cursor: not-allowed;
    color: #f7f5f2;
  }

  &__edit-phenophase {
    cursor: pointer;
  }

  &__detail-sub {
    @include detail-value-t2;
    font-style: italic;
    margin-top: -1.25rem;
    padding-bottom: 1.25rem;
  }
}
