<h2>{{ 'Phänophasen' | translate }}</h2>
<div *ngFor="let groupedItem of phenophaseObservationsGroups$ | async" class="phenophase-group">
  <ng-container *ngIf="(isEditable$ | async) || groupedItem.hasObservations">
    <div class="detail-label">{{ groupedItem.phenophaseGroup.de | translate }}</div>
    <div *ngFor="let item of groupedItem.phenophaseObservations">
      <ng-container *ngIf="(isEditable$ | async) || item.observation.isSome()">
        <div class="detail-label">{{ item.phenophase.de | translate }}</div>
        <mat-form-field class="full-width detail-observation-date">
          <input
            matInput
            [id]="item.phenophase.id"
            [matDatepicker]="fakePicker"
            placeholder="{{ item.phenophase.description_de | translate }}"
            [value]="item.observation.toNullable()?.date"
            readonly="true"
          />
          <mat-datepicker #fakePicker></mat-datepicker>
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation.isNone() && item.limits.isEditable"
            matSuffix
            class="add-phenophase"
            color="primary"
            (click)="editPhenophaseDate(item)"
            >add_circle</mat-icon
          >
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation.isNone() && !item.limits.isEditable"
            matSuffix
            class="add-phenophase-disabled"
            color="accent"
            >add_circle</mat-icon
          >
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation.isSome()"
            matSuffix
            color="primary"
            class="edit-phenophase"
            (click)="editPhenophaseDate(item)"
            >edit</mat-icon
          >
          <mat-icon
            *ngIf="(isEditable$ | async) && item.observation.isSome()"
            matSuffix
            color="warn"
            class="edit-phenophase"
            (click)="deletePhenophaseDate(item)"
            >delete</mat-icon
          >
        </mat-form-field>
        <div class="detail-sub mat-body-2" *ngIf="item.observation.toNullable()?.comment?.toString() as comment">
          {{ 'Kommentar' | translate }}: {{ staticComments[comment] | translate }}
        </div>
      </ng-container>
    </div>
    <div style="width: 100%">
      <iframe
        src="https://datastudio.google.com/embed/reporting/a2c8a2f5-3c02-41bd-b55f-7d919e5d67a7/page/azNmC"
        frameborder="0"
        style="border: 0; width: 100%; height: 100vw"
        allowfullscreen
      ></iframe>
    </div>
  </ng-container>
</div>
