<div gdColumns="repeat(8, 1fr)" *ngIf="(detailSubject$ | async) !== null">
  <div gdColumn="2 / span 6" gdColumn.lt-md="1 / span 8" gdColumns="repeat(6, 1fr)" class="detail-view">
    <app-individual-detail-header
      gdColumn="1 / span 6"
      class="detail-header"
      [individual$]="detailSubject$"
    ></app-individual-detail-header>
    <app-individual-subscription-button
      *ngIf="isLoggedIn && (isOwn$ | async) === false"
      gdColumn="1 / span 6"
      class="individual-subscription-button"
      [individual$]="detailSubject$"
    ></app-individual-subscription-button>
    <div gdColumn="1 / span 6" gdColumns="repeat(6, 1fr)" class="detail-content">
      <app-individual-description
        *ngIf="detailSubject$ | async"
        gdColumn="1 / span 2"
        gdColumn.lt-md="1 / span 6"
        class="detail-left"
        [individual$]="detailSubject$"
        [individualId]="detailId"
        [isEditable$]="isEditable$"
      ></app-individual-description>
      <app-individual-observation-view
        gdColumn="3 / span 4"
        gdColumn.lt-md="1 / span 6"
        class="detail-right"
        [individual$]="detailSubject$"
        [individualId]="detailId"
        [isEditable$]="isEditable$"
      ></app-individual-observation-view>
    </div>
  </div>
</div>
