@import '../../../theming/mixins';

.individual-detail {
  @include detail-view;

  &__card {
    @include detail-card;
  }

  &__subscription-button {
    position: relative;
    bottom: 28px;
    width: 70px;
    height: 0;
    margin-left: 90%;
    top: -56px;

    @media screen and (max-width: $min-desktop-width) {
      margin-left: 70%;
    }
  }

  &__content {
    @include detail-view-content;
  }

  &__description-header {
    @include default-left-right-padding;
    @include left-column;
    @include detail-bottom-padding;
  }

  &__basic-info {
    @include default-left-right-padding;
    @include left-column;
    @include detail-bottom-padding;
  }

  &__buttons {
    @include default-left-right-padding;
    @include left-column;
    @include flex-last-on-mobile;
  }

  &__observation-view {
    @include default-left-right-padding;
    @include complete-right-column;
  }

  &__right-content {
    @include default-left-right-padding;
    @include complete-right-column;
  }
}
