<div class="individual-detail" *ngIf="(detailSubject$ | async) !== null">
  <div class="individual-detail__card">
    <app-individual-header
      class="individual-detail__header"
      [individual$]="detailSubject$"
      edit="detail"
    ></app-individual-header>
    <div class="individual-detail__subscription-button" *ngIf="isLoggedIn && (isOwn$ | async) === false">
      <app-individual-subscription-button [individual$]="detailSubject$"></app-individual-subscription-button>
    </div>
    <div class="individual-detail__content">
      <app-individual-description-header
        *ngIf="detailSubject$ | async"
        class="individual-detail__description-header"
        [individual$]="detailSubject$"
      ></app-individual-description-header>
      <app-individual-description-basic-info
        *ngIf="detailSubject$ | async"
        class="individual-detail__basic-info"
        [individual$]="detailSubject$"
      ></app-individual-description-basic-info>
      <app-individual-description-buttons
        *ngIf="detailSubject$ | async"
        class="individual-detail__buttons"
        [individual$]="detailSubject$"
        [individualId]="detailId"
        [isEditable$]="isEditable$"
      ></app-individual-description-buttons>
      <app-individual-observation-view
        class="individual-detail__observation-view"
        [individual$]="detailSubject$"
        [individualId]="detailId"
        [isEditable$]="isEditable$"
      ></app-individual-observation-view>
    </div>
  </div>
</div>
