<div gdColumns="repeat(8, 1fr)">
  <div gdColumn="2 / span 6" gdColumns="repeat(6, 1fr)" class="detail-view">
    <div gdColumn="1 / span 6" class="detail-header">
      <google-map class="map" width="100%" height="302px" [center]="center" [zoom]="zoom" [options]="options">
        <map-marker #marker [position]="geopos" [options]="markerOptions | async"></map-marker>
      </google-map>
      <button
        *ngIf="isLoggedIn && isFollowing | async"
        mat-fab
        class="detail-header-fab a100"
        color="primary"
        (click)="unfollow()"
      >
        <mat-icon svgIcon="subscribe-active"></mat-icon>
      </button>
      <button
        *ngIf="isLoggedIn && !(isFollowing | async)"
        mat-fab
        class="detail-header-fab"
        color="primary"
        (click)="follow()"
      >
        <mat-icon svgIcon="subscribe"></mat-icon>
      </button>
    </div>
    <div gdColumn="1 / span 6" gdColumns="repeat(6, 1fr)" class="detail-content">
      <div gdColumn="1 / span 2" *ngIf="detailSubject | async" class="detail-left">
        <div class="detail-label detail-label-standort">{{ 'Standort' | translate }}</div>
        <h3>{{ (detailSubject | async).name }}</h3>
        <div>
          <span>{{ 'Von' | translate }} </span><span class="creator">{{ 'MeteoSchweiz' | translate }}</span>
        </div>
        <div class="detail-label">{{ 'Höhe' | translate }}</div>
        <div>
          <span>{{ (detailSubject | async)?.altitude }}</span
          ><span translate> {{ 'M.ü.M.' }}</span>
        </div>
      </div>
      <div gdColumn="3 / span 4" class="detail-right">
        <h3>{{ 'Phänophasen' | translate }}</h3>
        <div *ngFor="let groupedItem of phenophaseObservationsBySpecies | async" class="species-group">
          <h4>{{ groupedItem.species.de | translate }}</h4>
          <div *ngFor="let item of groupedItem.phenophaseObservations">
            <ng-container *ngIf="item.observation.isSome()">
              <div class="detail-label">{{ item.phenophase.name_de | translate }}</div>
              <mat-form-field class="full-width detail-observation-date">
                <input
                  matInput
                  [matDatepicker]="fakePicker"
                  [id]="item.id"
                  placeholder="{{ item.phenophase.description_de | translate }}"
                  [value]="item.observation.toNullable()?.date"
                  readonly="true"
                />
              </mat-form-field>
              <div class="detail-sub" *ngIf="item.observation.toNullable()?.comment">
                {{ 'Kommentar' }}: {{ staticComments[item.observation.toNullable()?.comment] | translate }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
