<div gdColumns="repeat(8, 1fr)" *ngIf="(detailSubject$ | async) !== null">
  <div gdColumn="2 / span 6" gdColumn.lt-md="1 / span 8" gdColumns="repeat(6, 1fr)" class="detail-view">
    <app-individual-header gdColumn="1 / span 6" [individual$]="detailSubject$" mode="detail"></app-individual-header>
    <div gdColumn="1 / span 6" gdColumns="repeat(6, 1fr)" class="detail-content">
      <div gdColumn="1 / span 2" gdColumn.lt-md="1 / span 6" *ngIf="detailSubject$ | async" class="detail-left">
        <div class="detail-label detail-label-standort">{{ 'Standort' | translate }}</div>
        <div class="mat-body-1">{{ (detailSubject$ | async).name }}</div>
        <div class="detail-label">{{ 'Von' | translate }}</div>
        <div class="mat-body-1">{{ 'MeteoSchweiz' | translate }}</div>
        <div class="detail-label">{{ 'Höhe' | translate }}</div>
        <div>
          <span class="detail-info-value">{{ (detailSubject$ | async)?.altitude }}</span
          ><span class="detail-info-value-addition" translate> {{ 'm ü. M.' }}</span>
        </div>
      </div>
      <div gdColumn="3 / span 4" gdColumn.lt-md="1 / span 6" class="detail-right">
        <h2>{{ 'Phänophasen' | translate }}</h2>
        <div *ngFor="let groupedItem of phenophaseObservationsBySpecies$ | async" class="species-group">
          <div class="mat-body-2">{{ groupedItem.species.de | translate }}</div>
          <div *ngFor="let item of groupedItem.phenophaseObservations">
            <ng-container *ngIf="item.observation.isSome()">
              <div class="detail-label">{{ item.phenophase.de | translate }}</div>
              <mat-form-field class="full-width">
                <input
                  matInput
                  [id]="item.phenophase.id"
                  [matDatepicker]="fakePicker"
                  placeholder="{{ item.phenophase.description_de | translate }}"
                  [value]="item.observation.toNullable()?.date"
                  readonly="true"
                />
              </mat-form-field>
              <mat-datepicker #fakePicker></mat-datepicker>
              <div class="detail-sub" *ngIf="item.observation.toNullable()?.comment?.toString() as comment">
                {{ 'Kommentar' | translate }}: {{ staticComments[comment] | translate }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
