@import '../../theming/palettes';

.geopos-width {
  width: 70%;
}

.creator {
  font-weight: 700;
}

#edit-button {
  margin-top: 4.125rem;
}

.phenophase-title {
  font-size: 1.375rem;
  padding-top: 0.125rem;
  padding-bottom: 1.25rem;
}

.species-group {
  margin-top: 2.5625rem;
}

h4 {
  color: #868072;
}

.detail-label-standort {
  margin-top: 0rem;
}

.detail-header-fab {
  margin-left: 90%;
  bottom: 28px;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 959px) {
  .detail-header-fab {
    margin-left: 70%;
  }
}

.detail-sub {
  font-style: italic;
  margin-top: -1.25rem;
  padding-bottom: 1.25rem;
}

.following {
  color: #1dff6e; //mat-color($phaenonet-p, A700);
}

.detail-view {
  background-color: white;
}
