@use '@angular/material' as mat;

@import '../../theming/mixins';

@import '../../theming/typography';

.station-detail {
  @include detail-view;

  &__card {
    @include detail-card;
  }

  &__description-header {
    @include default-left-right-padding;
    @include left-column;
    @include detail-bottom-padding;
  }

  &__content {
    @include detail-view-content;
    grid-template-rows: repeat(4, min-content);
    margin-top: 40px;
  }

  &__label {
    @include detail-label;
  }

  &__name {
    @include mat.typography-level($phaenonet-typography, 'body-1');
    margin-bottom: 20px;
  }

  &__value {
    @include detail-value;
    padding-bottom: 10px;
  }

  &__value-addition {
    @include detail-value-regular;
  }

  &__observation-view {
    @include default-left-right-padding;
    @include complete-right-column;
  }

  &__observation-content {
    @include default-left-right-padding;
    @include complete-right-column;

    h2 {
      padding-bottom: 2rem;
    }
  }

  &__observation-species {
    @include mat.typography-level($phaenonet-typography, 'body-2');
    padding-top: 2rem;
  }

  &__form-field {
    width: 100%;
  }

  &__detail-sub {
    @include detail-value-t2;
    font-style: italic;
    margin-top: -1.25rem;
    padding-bottom: 1.25rem;
  }

  &__year {
    @include year-select;
    margin-left: 40px;
    margin-bottom: 0;
    margin-top: -6px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
