<div class="station-detail" *ngIf="(detailSubject$ | async) !== null">
  <div class="station-detail__card">
    <app-individual-header [individual$]="detailSubject$" mode="detail"></app-individual-header>
    <div class="station-detail__content">
      <div *ngIf="detailSubject$ | async" class="station-detail__description-header">
        <div class="station-detail__label">{{ 'Standort' | translate }}</div>
        <div class="station-detail__name">{{ (detailSubject$ | async).name }}</div>
        <div class="station-detail__label">{{ 'Von' | translate }}</div>
        <div class="station-detail__name">{{ (detailSubject$ | async).source | translate }}</div>
        <div class="station-detail__label">{{ 'Höhe' | translate }}</div>
        <div>
          <span class="station-detail__value">{{ (detailSubject$ | async)?.altitude }}</span
          ><span class="station-detail__value-addition" translate> {{ 'm ü. M.' }}</span>
        </div>
      </div>
      <div class="station-detail__observation-content">
        <div class="station-detail__title">
          <h2>{{ 'Phänophasen' | translate }}</h2>
          <div class="station-detail__year phenonet-year-select">
            <mat-select
              [value]="individualService.composedId(detailSubject$ | async)"
              (selectionChange)="selectYear($event)"
            >
              <mat-option [value]="year.composedId" *ngFor="let year of years$ | async">{{ year.year }}</mat-option>
            </mat-select>
          </div>
        </div>
        <div *ngFor="let groupedItem of phenophaseObservationsBySpecies$ | async">
          <div class="station-detail__observation-species">
            {{ groupedItem.species.de | translate }} {{ groupedItem.treeId }}
          </div>
          <div *ngFor="let item of groupedItem.phenophaseObservations">
            <ng-container *ngIf="item.observation.isSome()">
              <div class="station-detail__label">{{ item.phenophase.de | translate }}</div>
              <mat-form-field class="station-detail__form-field">
                <input
                  matInput
                  [id]="item.phenophase.id"
                  [matDatepicker]="fakePicker"
                  placeholder="{{ item.phenophase.description_de | translate }}"
                  [value]="item.observation.toNullable()?.date"
                  readonly="true"
                />
              </mat-form-field>
              <mat-datepicker #fakePicker></mat-datepicker>
              <div
                class="statiohn-detail__detail-sub"
                *ngIf="item.observation.toNullable()?.comment?.toString() as comment"
              >
                {{ 'Kommentar' | translate }}: {{ staticComments[comment] | translate }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
