<div class="password-reset">
  <mat-card appearance="outlined" class="password-reset__content">
    <mat-card-header>
      <mat-card-title> {{ 'Passwort zurücksetzen' | translate }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" class="password-reset__form" *ngIf="!resetPasswordEmailSent">
        <mat-form-field class="full-width">
          <mat-label>{{ 'E-Mail' | translate }} </mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            autofocus
            id="email"
            placeholder="{{ 'E-Mail' | translate }}"
            required
            autocomplete="username"
          />
        </mat-form-field>
        <button
          mat-flat-button
          class="password-reset__button"
          color="warn"
          type="submit"
          (click)="resetPassword()"
          id="reset-password-button"
          [disabled]="resetPasswordForm.invalid"
        >
          {{ 'Zurücksetzen' | translate }}
        </button>
      </form>

      <div *ngIf="resetPasswordEmailSent">
        <mat-card-subtitle>
          {{
            'Falls ein Account mit dieser E-Mail-Adresse existiert, wurde ein Link für das Zurücksetzen des Passworts geschickt.'
              | translate
          }}
        </mat-card-subtitle>
      </div>
    </mat-card-content>
  </mat-card>
</div>
