@use '@angular/material' as mat;
@use 'src/theming/mixins';
@use 'src/theming/typography';

.profile-details {
  @include mixins.detail-view-content;
  @include mixins.profile-detail-bottom-padding;

  &__title {
    @include mixins.left-column;
  }

  &__content {
    @include mixins.profile-detail-right-column;
  }

  &__ranger-badge {
    @include mixins.ranger-badge;
  }

  &__badge {
    @include mixins.badge;
  }

  &__label {
    @include mixins.detail-label;
    line-height: 1.125rem;
    margin-top: 1.125rem;
  }

  &__value {
    @include mixins.detail-value-t2;
  }

  &__button {
    @include mixins.button;

    &--logout {
      color: #d37872;
    }
  }

  &__buttons {
    @include mixins.buttons;
  }
}
