.title-nickname {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.055rem;
  line-height: 1.875rem;
}

#logout-button {
  color: #d37872;
}

.detail-value {
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.badge {
  vertical-align: 1rem;
  transform: scale(0.7);
}
