<div gdColumn="1 / span 2" gdColumn.lt-md="1 / span 6" class="detail-left">
  <h3>{{ 'PROFIL' | translate }}</h3>
</div>
<div gdColumn="3 / span 4" gdColumn.lt-md="1 / span 6" *ngIf="user$ | async" class="detail-right">
  <div class="detail-label">{{ 'Hallo' | translate }}</div>
  <div class="title-nickname">
    {{ nickname$ | async }}
    <button mat-icon-button [app-copy-clipboard]="profileLink" (copied)="notifyCopied()">
      <mat-icon svgIcon="copylink"></mat-icon>
    </button>
  </div>
  <div class="detail-label">{{ 'Vorname' | translate }}</div>
  <div class="detail-value">{{ firstname$ | async }}</div>
  <div class="detail-label">{{ 'Nachname' | translate }}</div>
  <div class="detail-value">{{ lastname$ | async }}</div>
  <div class="detail-label">{{ 'E-Mail' | translate }}</div>
  <div class="detail-value">{{ email }}</div>
  <div class="detail-label">{{ 'Sprache' | translate }}</div>
  <div class="detail-value">{{ locale$ | async | translate }}</div>
  <button mat-flat-button type="submit" id="edit-button" [routerLink]="['/profile', userId, 'edit']">
    {{ 'Profil bearbeiten' | translate }}
  </button>
  <button mat-flat-button color="accent" type="submit" id="logout-button" (click)="logout()">
    {{ 'Logout' | translate }}
  </button>
</div>
