@use '~@angular/material' as mat;

@import '../../../../theming/mixins';

@import '../../../../theming/typography';

/* .title-nickname {
  button.badge {
    vertical-align: text-top;
    margin-top: -1rem;
    width: 20px;
  }
} */

#logout-button {
  color: #d37872;
}

.detail-value {
  @include mat.typography-level($phaenonet-typography, 'body-2');
}

.profile-details {
  @include detail-view-content;

  &__title {
    @include left-column;
  }

  &__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }

  &__nick {
  }

  &__ranger-badge {
    button {
      vertical-align: text-top;
      margin-top: -1rem;
      width: 20px;
    }
  }

  &__badge {
    button {
      vertical-align: text-top;
      background-color: white;
    }
  }

  &__label {
    @include detail-label;
    line-height: 1.125rem;
    margin-top: 1.125rem;
  }

  &__value {
    @include detail-value-t2;
  }

  &__button {
    /* align-self: center; */
    /* width: 100%; */
    max-width: 350px;
    /* margin-left: 15px;
    margin-right: 15px; */
    @media screen and (max-width: $min-desktop-width) {
      width: calc(100% - 30px);
      align-self: center;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
