<div gdColumn="1 / span 2" gdColumn.lt-md="1 / span 6" class="detail-left">
  <h2 translate>PROFIL</h2>
</div>
<div gdColumn="3 / span 4" gdColumn.lt-md="1 / span 6" *ngIf="user$ | async" class="detail-right">
  <div class="detail-label">{{ 'Hallo' | translate }}</div>
  <h1 class="title-nickname">
    {{ nickname$ | async }}
    <button
      mat-icon-button
      class="badge"
      matTooltip="{{
        'PhenoRanger sind speziell ausgebildete Personen, welche Daten zu zusätzlichen Arten erfassen können. Für weitere Informationen, oder um selbst PhenoRanger zu werden, wenden Sie sich an pheno.rangers@wsl.ch.'
          | translate
      }}"
      *ngIf="isRanger$ | async"
    >
      <mat-icon svgIcon="ranger-badge"></mat-icon>
    </button>
    <button mat-icon-button [app-copy-clipboard]="profileLink" (copied)="notifyCopied()">
      <mat-icon svgIcon="copylink"></mat-icon>
    </button>
  </h1>
  <div class="detail-label">{{ 'Vorname' | translate }}</div>
  <div class="detail-value">{{ firstname$ | async }}</div>
  <div class="detail-label">{{ 'Nachname' | translate }}</div>
  <div class="detail-value">{{ lastname$ | async }}</div>
  <div class="detail-label">{{ 'E-Mail' | translate }}</div>
  <div class="detail-value">{{ email }}</div>
  <div class="detail-label">{{ 'Sprache' | translate }}</div>
  <div class="detail-value">{{ locale$ | async | translate }}</div>
  <button mat-flat-button type="submit" id="edit-button" [routerLink]="['/profile', userId, 'edit']" translate>
    Profil bearbeiten
  </button>
  <button mat-flat-button color="accent" type="submit" id="logout-button" (click)="logout()">
    {{ 'Logout' | translate }}
  </button>
</div>
