<div class="profile-details">
  <div class="profile-details__title">
    <h2 translate>PROFIL</h2>
  </div>
  <div *ngIf="user$ | async" class="profile_details__content">
    <div class="profile-details__label">{{ 'Hallo' | translate }}</div>
    <h1 class="profile-details__nick">
      {{ nickname$ | async }}
      <span class="profile-details__ranger-badge">
        <button
          mat-icon-button
          matTooltip="{{
            'PhenoRanger sind speziell ausgebildete Personen, welche Daten zu zusätzlichen Arten erfassen können. Für weitere Informationen, oder um selbst PhenoRanger zu werden, wenden Sie sich an pheno.rangers@wsl.ch.'
              | translate
          }}"
        >
          <mat-icon svgIcon="ranger-badge"></mat-icon>
        </button>
      </span>
      <span class="profile-details__badge">
        <button mat-icon-button [app-copy-clipboard]="profileLink" (copied)="notifyCopied()">
          <mat-icon svgIcon="copylink"></mat-icon>
        </button>
      </span>
    </h1>
    <div class="profile-details__label">{{ 'Vorname' | translate }}</div>
    <div class="profile-details__value">{{ firstname$ | async }}</div>
    <div class="profile-details__label">{{ 'Nachname' | translate }}</div>
    <div class="profile-details__value">{{ lastname$ | async }}</div>
    <div class="profile-details__label">{{ 'E-Mail' | translate }}</div>
    <div class="profile-details__value">{{ email }}</div>
    <div class="profile-details__label">{{ 'Sprache' | translate }}</div>
    <div class="profile-details__value">{{ locale$ | async | translate }}</div>
    <button
      class="profile-details__button"
      mat-flat-button
      type="submit"
      id="edit-button"
      [routerLink]="['/profile', userId, 'edit']"
      translate
    >
      Profil bearbeiten
    </button>
    <button
      class="profile-details__button"
      mat-flat-button
      color="accent"
      type="submit"
      id="logout-button"
      (click)="logout()"
    >
      {{ 'Logout' | translate }}
    </button>
  </div>
</div>
