<h1 mat-dialog-title>{{ 'PERSON EINLADEN' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="inviteForm" fxLayout="column">
    <mat-form-field class="full-width">
      <mat-label>{{ 'E-Mail' | translate }} </mat-label>
      <input matInput type="text" formControlName="email" id="invitemail" autocomplete="off" email required />
      <mat-error>{{ 'auth/invalid-email.message' | translate }}</mat-error>
    </mat-form-field>
    <button
      id="send"
      mat-flat-button
      color="primary"
      [mat-dialog-close]="{
        email: inviteForm.controls.email.value
      }"
      type="submit"
      [disabled]="inviteForm.invalid"
    >
      {{ 'Einladung senden' | translate }}
    </button>
  </form>
</div>
