@use '@angular/material' as mat;
@use 'src/theming/mixins';
@use 'src/theming/palettes';

.mat-subscribed {
  background-color: mat.m2-get-color-from-palette(palettes.$phaenonet-primary, 'A100');
  color: #ffffff;
}

.user-subscription-button {
  &__button {
    @include mixins.button;

    &--compact {
      &.mat-mdc-button,
      &.mat-mdc-raised-button,
      &.mdc-button--unelevated,
      &.mdc-button--outlined {
        height: 35px;
      }

      .mat-icon {
        margin: 0;
      }
    }
  }
}
