@if (isFollowing$ | async) {
  @switch (buttonMode()) {
    @case ('FAB') {
      <button mat-fab color="subscribed" (click)="unfollow()">
        <mat-icon svgIcon="subscribe-active"></mat-icon>
      </button>
    }
    @case ('BUTTON') {
      <button
        mat-flat-button
        color="subscribed"
        (click)="unfollow()"
        class="shared-subscription-button__button"
        translate
        data-test-id="unfollowButton"
      >
        Abonniert
      </button>
    }
    @case ('COMPACT') {
      <button
        mat-flat-button
        color="subscribed"
        (click)="unfollow()"
        class="shared-subscription-button__button-compact"
        [class.shared-subscription-button__button-compact--no-margin]="nomargin"
        translate
        data-test-id="unfollowButton"
      >
        Abonniert
      </button>
    }
  }
} @else {
  @switch (buttonMode()) {
    @case ('FAB') {
      <button mat-fab color="primary" (click)="follow()">
        <mat-icon svgIcon="subscribe"></mat-icon>
      </button>
    }
    @case ('BUTTON') {
      <button
        mat-flat-button
        color="primary"
        (click)="follow()"
        class="shared-subscription-button__button"
        translate
        data-test-id="followButton"
      >
        Abonnieren
      </button>
    }
    @case ('COMPACT') {
      <button
        mat-flat-button
        color="primary"
        (click)="follow()"
        class="shared-subscription-button__button-compact"
        [class.shared-subscription-button__button-compact--no-margin]="nomargin"
        translate
        data-test-id="followButton"
      >
        Abonnieren
      </button>
    }
  }
}
