<div gdColumn="1 / span 2" gdColumn.lt-md="1 / span 6" class="detail-left">
  <h2>{{ 'PROFIL' | translate }}</h2>
</div>
<div gdColumn="3 / span 4" gdColumn.lt-md="1 / span 6" *ngIf="user$ | async" class="detail-right">
  <div class="detail-label">{{ 'Öffentliches Profil von' | translate }}</div>
  <h1>
    {{ nickname$ | async }}
    <button
      mat-icon-button
      class="badge"
      matTooltip="{{
        'PhenoRanger sind speziell ausgebildete Personen, welche Daten zu zusätzlichen Arten erfassen können. Für weitere Informationen, oder um selbst PhenoRanger zu werden, wenden Sie sich an pheno.rangers@wsl.ch.'
          | translate
      }}"
      *ngIf="isRanger$ | async"
    >
      <mat-icon svgIcon="ranger-badge"></mat-icon>
    </button>
    <button mat-icon-button [app-copy-clipboard]="profileLink" (copied)="notifyCopied()">
      <mat-icon svgIcon="copylink"></mat-icon>
    </button>
    <app-user-subscription-button [userId]="userId" *ngIf="isLoggedIn"></app-user-subscription-button>
  </h1>
</div>
