@if ((detailSubject$ | async) !== null) {
  <div class="individual-detail">
    <div class="individual-detail__card">
      <app-individual-header [individual$]="detailSubject$" mode="detail"></app-individual-header>
      @if (isLoggedIn && (isOwn$ | async) === false) {
        <div class="individual-detail__subscription-button">
          <app-individual-subscription-button [individual$]="detailSubject$"></app-individual-subscription-button>
        </div>
      }
      <div class="individual-detail__content">
        @if (detailSubject$ | async) {
          <app-individual-info
            class="individual-detail__description-header"
            [individual$]="detailSubject$"
          ></app-individual-info>
        }
        @if (detailSubject$ | async) {
          <app-masterdata-info
            class="individual-detail__basic-info"
            [individual$]="detailSubject$"
          ></app-masterdata-info>
        }
        <div class="individual-detail__right_pane">
          <app-individual-observation-view
            class="individual-detail__observation-view"
            [individual$]="detailSubject$"
            [isEditable$]="isEditable$"
            [isOwn$]="isOwn$"
          ></app-individual-observation-view>
          @if (detailSubject$ | async) {
            <app-individual-buttons
              class="individual-detail__buttons"
              [individual$]="detailSubject$"
              [individualId]="detailId"
              [isEditable$]="isEditable$"
            >
            </app-individual-buttons>
          }
        </div>
      </div>
    </div>
  </div>
}
