<div *ngIf="(data$ | async) !== null" class="profile-species">
  <div class="profile-species-component">
    <a [routerLink]="['/profile', (data$ | async).id]" class="profile-species-component__title">
      <h2>{{ 'Zurück' | translate }}</h2>
    </a>
    <div class="profile-species-component__species-year">
      <div class="profile-species-component__species">
        {{ (data$ | async).speciesText }}
      </div>
      <div class="profile-species-component__year phenonet-year-select">
        <mat-select [value]="(data$ | async).year" (selectionChange)="selectYear($event)">
          <mat-option [value]="year" *ngFor="let year of (data$ | async).avaiableYears">{{ year }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div *ngFor="let item of latestIndividualObservations$ | async" class="profile-species-component__content">
      <app-observation-item [item]="item" [year]="(data$ | async)?.year"> </app-observation-item>
    </div>
    <div *ngIf="!((latestIndividualObservations$ | async)?.length > 0)" class="profile-species-component__no-entries">
      Keine Beobachtungen in {{ (data$ | async).year }}
    </div>
  </div>
</div>
