<div class="individual-edit">
  <div class="individual-edit__card">
    edit
    <app-individual-header
      class="individual-edit__header detail-header"
      [individual$]="detailSubject$"
      edit_detail="edit"
    ></app-individual-header>
    <div class="individual-edit__content">
      <div class="individual-edit__left-content">
        <h2 translate>OBJEKT ERFASSEN</h2>
      </div>
      <app-individual-edit-view
        class="individual-edit__right-content"
        [individual$]="detailSubject$"
        [createNewIndividual]="isNewIndividual"
      ></app-individual-edit-view>
    </div>
  </div>
</div>
