@use '@angular/material' as mat;
@use 'src/theming/typography';
@use 'src/theming/mixins';

.observation-species-item {
  @include mixins.teaser-card;

  mat-icon {
    align-self: center;
    margin-right: 10px;
  }

  &__image_container {
    width: 50px;
    height: 50px;
  }

  &__image {
    @include mixins.teaser-image;
    width: 70px;
    height: 70px;
    padding: 36px 55px;
    @include mixins.for-tablet-and-smaller {
      width: 70px;
      height: 70px;
      padding: 20px 20px;
    }
  }

  &__description {
    @include mixins.teaser-description;
  }

  &__label {
    @include mixins.detail-label;
  }

  &__value {
    @include typography.typo-t1;
  }

  &__phenophase-circle {
    @include mixins.phenophase-circle;
  }

  &__name {
    @include mixins.teaser-name;
  }

  &__quantity-container {
    margin-left: auto;
    align-self: center;
    width: 47px;
    height: 47px;
    display: flex;
    border-radius: 50%;
    background-color: green;
    align-items: center;
    justify-content: center;
    margin-right: 47px;
    background-color: #b6cc99;
  }

  &__quantity {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}
