<div *ngIf="(data$ | async) !== null" class="observation-species" data-test-id="individualList">
  <div class="observation-species-component">
    <a [routerLink]="['/profile', (data$ | async).id]" class="observation-species-component__title">
      <div class="observation-species-component__title_container">
        <mat-icon svgIcon="arrow-left"></mat-icon>
        <h2>{{ 'Zurück' | translate }}</h2>
      </div>
    </a>
    <div class="observation-species-component__species-year">
      <h2 class="observation-species-component__species">{{ (data$ | async).speciesText }}</h2>
      <div class="observation-species-component__year">
        <mat-select [value]="(data$ | async).year" (selectionChange)="selectYear($event)" data-test-id="selectYear">
          <mat-option [value]="year" *ngFor="let year of (data$ | async).avaiableYears" [attr.data-testid]="year">{{
            year
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div *ngFor="let item of latestIndividualObservations$ | async" class="observation-species-component__content">
      <app-observation-item [item]="item" [year]="(data$ | async)?.year"> </app-observation-item>
    </div>
    <div
      *ngIf="!((latestIndividualObservations$ | async)?.length > 0)"
      class="observation-species-component__no-entries"
    >
      {{ 'Keine Beobachtungen in' | translate }} {{ (data$ | async).year }}
    </div>
  </div>
</div>
