<div class="observation-list">
  <div class="observation-list__title">
    <h2>
      @if (isOwner()) {
        <span translate>MEINE BEOBACHTUNGEN</span>
      }
      @if (!isOwner()) {
        <span translate>BEOBACHTUNGEN</span>
      }
    </h2>
  </div>
  @if (userId) {
    <div class="observation-list__content">
      <div class="observation-list__year">
        <mat-select [value]="selectedYear | async" (selectionChange)="selectYear($event)" data-test-id="selectYear">
          @for (year of avaiableYears() | async; track year) {
            <mat-option [value]="year" [attr.data-testid]="year">{{ year }}</mat-option>
          }
        </mat-select>
      </div>
      @if ((latestIndividualObservationsMap$ | async)?.length > 0) {
        <div>
          @for (item of latestIndividualObservationsMap$ | async; track item) {
            <div>
              @if (item.length > 0) {
                <div>
                  @if (item[1].length > 1) {
                    <div>
                      <app-observation-species-item
                        [items]="item[1]"
                        [species]="item[0]"
                        [userId]="userId"
                        [year]="selectedYear | async"
                      >
                      </app-observation-species-item>
                    </div>
                  }
                  @if (!(item[1].length > 1)) {
                    <div>
                      <app-observation-item [item]="item[1][0]" [year]="selectedYear | async"> </app-observation-item>
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
      <div class="observation-list__buttons">
        @if (isOwner()) {
          <button
            class="observation-list__button"
            mat-flat-button
            color="primary"
            [routerLink]="'/individuals/new/edit'"
          >
            <mat-icon>add</mat-icon>
            <span>{{ 'Objekt hinzufügen' | translate }}</span>
          </button>
        }
      </div>
    </div>
  }
</div>
