@if ((detailSubject$ | async) !== null) {
  <div class="profile-component">
    @if (detailId) {
      @if (isOwner()) {
        <app-profile-details [user$]="detailSubject$" [userId]="detailId"></app-profile-details>
      }
      @if (!isOwner()) {
        <app-profile-public [user$]="detailSubject$" [userId]="detailId"></app-profile-public>
      }
      <app-observation-list [userId]="detailId"></app-observation-list>
      @if (isOwner()) {
        <app-follow-list></app-follow-list>
      }
      @if (isOwner()) {
        <app-activity [userId]="detailId"></app-activity>
      }
    }
  </div>
}
