@use 'src/theming/mixins';

.geopos-width {
  width: 70%;
}

@include mixins.for-tablet-and-smaller {
  .geopos-width {
    width: 100%;
  }
}

.gradient-info-img {
  height: 61px;
  padding-left: 2rem;
}

@include mixins.for-tablet-and-smaller {
  .gradient-info-img {
    height: 50px;
    padding-left: 1rem;
  }
}

.right-align {
  text-align: right;
}

.add-image {
  cursor: pointer;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
