@use 'src/theming/mixins';

.individual-edit-header {
  height: 400px;
  display: flex;
  flex-direction: row;

  @include mixins.for-tablet-and-smaller {
    height: 300px;
  }

  @include mixins.for-phone {
    height: 200px;
  }

  &__map {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__map ::ng-deep .map-container {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__locate-me {
    position: relative;
    bottom: 28px;
    width: 70px;
    height: 0;
    margin-left: auto;
    margin-right: 40px;
  }
}
