<div gdColumns="repeat(8, 1fr)">
  <div gdColumn="2 / span 6" gdColumn.lt-md="1 / span 8" gdColumns="repeat(6, 1fr)" class="detail-view">
    <div gdColumn="1 / span 6" class="detail-header">
      <!-- There is no header -->
    </div>
    <div gdColumn="1 / span 6" gdColumns="repeat(6, 1fr)" class="detail-content">
      <div gdColumn="1 / span 2" gdColumn.lt-md="1 / span 6" class="detail-left">
        <h3>{{ 'PROFIL' | translate }}</h3>
      </div>
      <div gdColumn="3 / span 4" gdColumn.lt-md="2 / span 5" *ngIf="detailSubject | async" class="detail-right">
        <div *ngIf="isOwner()" class="detail-label">{{ 'Hallo' | translate }}</div>
        <div *ngIf="!isOwner()" class="detail-label">{{ 'Öffentliches Profil von' | translate }}</div>
        <div class="title-nickname">
          {{ (detailSubject | async).nickname }}
          <button mat-icon-button [app-copy-clipboard]="profileLink | async" (copied)="notifyCopied()">
            <mat-icon svgIcon="copylink"></mat-icon>
          </button>
          <button
            *ngIf="isLoggedIn && !isOwner() && isFollowing | async"
            mat-fab
            color="primary"
            class="a100"
            (click)="unfollow()"
          >
            <mat-icon svgIcon="subscribe-active"></mat-icon>
          </button>
          <button *ngIf="isLoggedIn && !isOwner() && !(isFollowing | async)" mat-fab color="primary" (click)="follow()">
            <mat-icon svgIcon="subscribe"></mat-icon>
          </button>
        </div>
        <ng-container *ngIf="isOwner()">
          <div class="detail-label">{{ 'Vorname' | translate }}</div>
          <div class="detail-value">{{ firstname | async }}</div>
          <div class="detail-label">{{ 'Nachname' | translate }}</div>
          <div class="detail-value">{{ lastname | async }}</div>
          <div class="detail-label">{{ 'E-Mail' | translate }}</div>
          <div class="detail-value">{{ email }}</div>
          <div class="detail-label">{{ 'Sprache' | translate }}</div>
          <div class="detail-value">{{ locale | async | translate }}</div>
          <button mat-flat-button type="submit" id="edit-button" [routerLink]="['/profile', detailId, 'edit']">
            {{ 'Profil bearbeiten' | translate }}
          </button>
          <button mat-flat-button color="accent" type="submit" id="logout-button" (click)="logout()">
            {{ 'Logout' | translate }}
          </button>
        </ng-container>
      </div>
    </div>
    <div gdColumn="1 / span 6" gdColumn.lt-md="1 / span 6" gdColumns="repeat(6, 1fr)" class="detail-content">
      <div gdColumn="1 / span 2" class="detail-left">
        <h3>
          <span *ngIf="isOwner()">{{ 'MEINE BEOBACHTUNGEN' | translate }}</span
          ><span *ngIf="!isOwner()">{{ 'BEOBACHTUNGEN' | translate }}</span>
        </h3>
      </div>
      <div gdColumn="3 / span 4" gdColumn.lt-md="1 / span 6" *ngIf="detailSubject | async" class="detail-right">
        <div
          fxLayout="row"
          *ngFor="let item of latestIndividualObservations | async"
          [routerLink]="['/individuals', item.individual.id]"
          class="latest-individual-observation"
        >
          <img class="individual-image" *ngIf="item.imgUrl | async" [src]="item.imgUrl | async" />
          <div fxLayout="column" style="margin-left: 25px; margin-right: 25px; margin-top: 15px;">
            <div class="detail-label">
              {{ item.species.de | translate }}
            </div>
            <h3>{{ item.individual.name }}</h3>
            <div class="detail-label" *ngIf="item.individual.last_observation_date">
              {{ 'Letzte Beobachtung' | translate }},
              {{ formatShortDate(item.individual.last_observation_date.toDate()) }}
            </div>
            <div class="detail-label" *ngIf="!item.individual.last_observation_date">
              {{ 'Noch keine Beobachtungen' | translate }}
            </div>
            <div class="phenophase-title" *ngIf="item.lastPhenophase">
              <span
                class="phenophase-circle"
                [ngStyle]="{ 'background-color': colorMap[item.individual.last_phenophase] }"
              ></span>
              {{ item.lastPhenophase.name_de | translate }}
            </div>
          </div>
        </div>
        <button *ngIf="isOwner()" mat-flat-button color="primary" [routerLink]="'/individuals/new/edit'">
          <mat-icon>add</mat-icon>
          <span>{{ 'Objekt hinzufügen' | translate }}</span>
        </button>
        <button mat-flat-button color="accent" (click)="showMoreIndividuals()">
          <span>{{ 'Mehr anzeigen' | translate }}</span>
        </button>
      </div>
    </div>
    <div gdColumn="1 / span 6" gdColumns="repeat(6, 1fr)" class="detail-content">
      <div gdColumn="1 / span 2" gdColumn.lt-md="1 / span 6" class="detail-left" *ngIf="isOwner()">
        <h3>
          <span *ngIf="isOwner()">{{ 'AKTIVITÄTEN' | translate }}</span>
        </h3>
      </div>
      <div
        gdColumn="3 / span 4"
        gdColumn.lt-md="1 / span 6"
        *ngIf="isOwner() && detailSubject | async"
        class="detail-right"
      >
        <div
          fxLayout="row"
          *ngFor="let item of activities | async"
          [routerLink]="['/individuals', item.individual_id]"
          class="activity"
        >
          <div>
            <div class="detail-label">
              <span class="creator">{{ item.user_nickname }}</span
              ><span> {{ 'am' | translate }}</span
              ><span> {{ formatShortDateTime(item.date.toDate()) }}</span>
            </div>
            <div class="phenophase-title">{{ item.text | translate }}: {{ item.name }}</div>
          </div>
        </div>
        <button mat-flat-button color="accent" (click)="showAllActivities()">
          <span>{{ 'Mehr anzeigen' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
