@use 'src/theming/mixins';

.statistics {
  height: 100%;
  @include mixins.default-left-right-padding;

  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  width: auto;

  &__chart-view {
    width: 100%;
    height: 100%;
  }
}
