@use '~@angular/material' as mat;
@import './theming/phaenonet-theme.scss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans';
  background: #f7f5f2;
  color: #262626;
}

.detail-view {
  margin-top: 2.625rem;
  padding-bottom: 7.5375rem;
  border-radius: 1rem;
  margin-bottom: 2.625rem;
}

.detail-left {
  padding-left: 2.46875rem;
  padding-right: 1.8rem;
}

.detail-right {
  padding-right: 2.46875rem;
}

.detail-content {
  margin-top: 2.625rem;
}

.detail-content:nth-child(2n - 1) {
  margin-top: 7rem;
}

@media screen and (max-width: 959px) {
  .detail-left {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .detail-right {
    padding-top: 2.46875rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }

  .detail-content {
    margin-top: 1rem;
  }

  .detail-content:nth-child(2n - 1) {
    margin-top: 2.46875rem;
  }
}

.detail-header .map-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.detail-header .image-container {
  border-top-right-radius: 1rem;
}

.detail-label {
  @include mat.typography-level($phaenonet-typography, 'button');
  font-weight: 500;
  color: #868072;
  line-height: 1.125rem;
  margin-top: 1.125rem;
}

h2 {
  color: #868072;
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

#phaenonet-body .gm-style-iw {
  padding-left: 0;
  padding-top: 0;
  top: 0;
  left: 0;
}

// No padding in map info windows
#phaenonet-body .gm-style .gm-style-iw-c {
  padding: 0;
}

.phenophase-circle {
  margin: 0.125rem 0.5rem 0.125rem 0.125rem;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: inline-block;
}

snack-bar-container.info {
  color: #a3c5b2;
}

snack-bar-container.error {
  color: #f8f2c4;
}

.mat-card-header-text {
  margin: 0 !important;
}

.clip-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-button {
  @include mat.typography-level($phaenonet-typography, 'button');
}

.detail-info-value {
  @include mat.typography-level($phaenonet-typography, 'button');

  color: #5d5d5d;
  font-weight: var(--t4-bold-font-weight);
}

.detail-info-value-addition {
  @include mat.typography-level($phaenonet-typography, 'button');

  color: #5d5d5d;
  font-weight: var(--t4-font-weight);
}

.phenophase-title {
  @include mat.typography-level($phaenonet-typography, 'body-1');

  padding-top: 0.125rem;
  padding-bottom: 1.25rem;
}

#phaenonet-body .font-weight-300 {
  font-weight: 300;
}
