@use '~@angular/material' as mat;

@import './theming/phaenonet-theme';
@import './theming/constants';
@import './theming/mixins';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans';
  background: #f7f5f2;
  color: #262626;
}

.detail-view {
  margin-top: 2.625rem;
  padding-bottom: 7.5375rem;
  border-radius: 1rem;
  margin-bottom: 2.625rem;
}

.detail-left {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.detail-right {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.detail-content {
  margin-top: 2.625rem;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  display: grid;
  grid-template-columns: 410px 1fr;
}

.detail-content:nth-child(2n - 1) {
  margin-top: 7rem;
}

@include for-phone {
  .detail-left {
    grid-column: 1 / span 6;
  }

  .detail-right {
    grid-column: 1 / span 6;
  }

  .detail-content {
    margin-top: 1rem;
  }

  .detail-content:nth-child(2n - 1) {
    margin-top: 2.46875rem;
  }
}

h2 {
  color: #868072;
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

snack-bar-container.info {
  color: #a3c5b2;
}

snack-bar-container.error {
  color: #f8f2c4;
}

.mat-card-header-text {
  margin: 0 !important;
}

.clip-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail-info-value {
  @include mat.typography-level($phaenonet-typography, 'button');

  color: #5d5d5d;
  font-weight: var(--t4-bold-font-weight);
}

.detail-info-value-addition {
  @include mat.typography-level($phaenonet-typography, 'button');

  color: #5d5d5d;
  font-weight: var(--t4-font-weight);
}

.phenophase-title {
  @include mat.typography-level($phaenonet-typography, 'body-1');

  padding-top: 0.125rem;
  padding-bottom: 1.25rem;
}

#phaenonet-body .font-weight-300 {
  font-weight: 300;
}

#phaenonet-body .no-margin-top {
  margin-top: 0;
}
