@use '@angular/material' as mat;
@use './theming/phaenonet-theme' as phaenonet;
@use './theming/constants' as constants;
@use './theming/mixins' as mixins;
@use 'src/theming/typography';
@use './theming/palettes' as palettes;

@include mat.elevation-classes();
@include mat.app-background();

:root {
  --h2-color: #868072;
}

// ***** OVERRIDES *****
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans';
  background: mat.m2-get-color-from-palette(palettes.$phaenonet-accent, 500);
  color: #262626;
}

h2 {
  color: var(--h2-color);
  text-transform: uppercase;
}

// ***** CARD *****
// centers action buttons on cards
// fix for https://github.com/angular/components/issues/23784
mat-card-actions.center-actions {
  display: flex;
  justify-content: center;
}

// ***** DIALOG *****

// enable dialog closing button
mat-dialog-container .phenonet-dialog-component-close-button.mat-mdc-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  z-index: 1; // make sure it is on top of the dialog

  mat-icon {
    font-size: 1.5rem;
  }

  // remove hover effect
  .mat-mdc-button-persistent-ripple::before {
    opacity: 0;
  }
}

// ***** OTHERS *****
.detail-view {
  margin-top: 2.625rem;
  padding-bottom: 7.5375rem;
  border-radius: 1rem;
  margin-bottom: 2.625rem;
}

.detail-left {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.detail-right {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.detail-content {
  margin-top: 2.625rem;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  display: grid;
  grid-template-columns: 410px 1fr;
}

.detail-content:nth-child(2n - 1) {
  margin-top: 7rem;
}

@include mixins.for-phone {
  .detail-left {
    grid-column: 1 / span 6;
  }

  .detail-right {
    grid-column: 1 / span 6;
  }

  .detail-content {
    margin-top: 1rem;
  }

  .detail-content:nth-child(2n - 1) {
    margin-top: 2.46875rem;
  }
}

.full-width {
  width: 100%;
}

snack-bar-container.info {
  color: mat.m2-get-color-from-palette(palettes.$phaenonet-primary, 200);
}

snack-bar-container.error {
  color: #f8f2c4;
}

.clip-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail-info-value {
  @include typography.typo-t4;

  color: #5d5d5d;
  font-weight: var(--t4-bold-font-weight);
}

.detail-info-value-addition {
  @include typography.typo-t4;

  color: #5d5d5d;
  font-weight: var(--t4-font-weight);
}

.phenophase-title {
  @include typography.typo-t1;

  padding-top: 0.125rem;
  padding-bottom: 1.25rem;
}
