$phenophase-group-knospung: #4b9f6f;
$phenophase-group-blattentfaltung: #7bb53b;
$phenophase-group-bluete: #e8d439;
$phenophase-group-fruchtreife: #e8b658;
$phenophase-group-blattverfaerbung: #b29976;
$soil-color: #736958;
$air-color: #88c7ff;
