@import './constants';

@mixin default-left-right-padding {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

@mixin margin-between-description {
  &:nth-child(2n - 1) {
    margin-top: 7rem;
  }
}

@mixin detail-view {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.625rem;
  max-width: 1120px;
}

@mixin detail-card {
  padding-bottom: 7.5375rem;
  border-radius: 1rem;
  margin-bottom: 2.625rem;
  background-color: white;
}

@mixin detail-view-content {
  @include default-left-right-padding();

  display: grid;
  grid-template-columns: calc(410px - 2 * var(--default-padding)) 1fr;

  @media screen and (max-width: $min-desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

@mixin profile-detail-bottom-padding {
  padding-bottom: 200px;
  @media screen and (max-width: $min-desktop-width) {
    padding-bottom: 70px;
  }
}

@mixin profile-detail-right-column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

@mixin left-column {
  grid-column: 1;
  @media screen and (max-width: $min-desktop-width) {
    h2 {
      margin-bottom: 30px;
    }
  }
}

@mixin complete-right-column {
  grid-column: 2;
  grid-row: 1/-1;
}

@mixin detail-label {
  @include mat.typography-level($phaenonet-typography, 'button');

  font-weight: 500;
  color: #868072;
}

@mixin detail-value {
  @include mat.typography-level($phaenonet-typography, 'button');

  color: #5d5d5d;
  font-weight: var(--t4-bold-font-weight);
}

@mixin detail-value-t2 {
  @include mat.typography-level($phaenonet-typography, 'body-2');
}

@mixin detail-value-regular {
  @include detail-value();
  font-weight: var(--t4-font-weight);
}

@mixin flex-last-on-mobile {
  @media screen and (max-width: $min-desktop-width) {
    order: 100;
  }
}

@mixin detail-bottom-padding {
  padding-bottom: 60px;

  @media screen and (min-width: $min-desktop-width) {
    padding-bottom: 50px;
  }
}

@mixin phenophase-circle {
  margin: 0.125rem 0.5rem 0.125rem 0.125rem;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: inline-block;
}

@mixin teaser-card {
  margin-bottom: 1.875rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;

  max-width: 705px;
  @media screen and (max-width: $min-desktop-width) {
    margin-bottom: 15px;
    // TODO Check with Dani
    max-width: 500px;
  }
}

@mixin teaser-image {
  object-fit: cover;

  width: 180px;
  height: 180px;

  @media screen and (max-width: $min-desktop-width) {
    width: 110px;
    height: 110px;
  }

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@mixin teaser-description {
  margin: 30px 25px;
  @media screen and (max-width: $min-desktop-width) {
    margin: 8px 10px;
  }
}

@mixin teaser-name {
  padding-bottom: 20px;
  @media screen and (max-width: $min-desktop-width) {
    padding-bottom: 5px;
  }
}

@mixin button {
  max-width: 350px;
  @media screen and (max-width: $min-desktop-width) {
    width: calc(100% - 30px);
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@mixin ranger-badge {
  button {
    vertical-align: text-top;
    margin-top: -1rem;
    width: 20px;
  }
}

@mixin badge {
  button {
    vertical-align: text-top;
    background-color: white;
  }
}
