@import './constants';

@import './mixins-typography';

@mixin for-tablet-and-smaller {
  @media screen and (max-width: $min-desktop-width) {
    @content;
  }
}

@mixin for-phone {
  @media screen and (max-width: $min-laptop-width) {
    @content;
  }
}

@mixin default-left-right-padding {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

@mixin detail-view {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.625rem;
  max-width: 1120px;
}

@mixin detail-card {
  padding-bottom: 7.5375rem;
  border-radius: 1rem;
  margin-bottom: 2.625rem;
  background-color: white;
}

@mixin detail-view-content {
  display: grid;
  grid-template-columns: calc(410px - 2 * var(--default-padding)) 1fr;

  @include for-tablet-and-smaller {
    display: flex;
    flex-direction: column;
  }
}

@mixin profile-detail-bottom-padding {
  padding-bottom: 200px;
  @include for-tablet-and-smaller {
    padding-bottom: 70px;
  }
}

@mixin profile-detail-right-column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

@mixin left-column {
  grid-column: 1;
  @include for-tablet-and-smaller {
    h2 {
      margin-bottom: 30px;
    }
  }
}

@mixin hide-on-mobile {
  @include for-phone {
    display: none;
  }
}

@mixin complete-right-column {
  grid-column: 2;
  grid-row: 1/-1;
}

@mixin detail-label {
  @include typo-t4;

  font-weight: 500; // todo: why 500?
  color: #868072;
}

@mixin detail-value {
  @include typo-t4-bold;

  color: #5d5d5d;
}

@mixin detail-value-t2 {
  @include typo-t2;
}

@mixin detail-value-t1 {
  @include typo-t1;
}

@mixin detail-value-regular {
  @include detail-value();
  font-weight: var(--t4-font-weight);
}

@mixin flex-last-on-mobile {
  @include for-tablet-and-smaller {
    order: 100;
  }
}

@mixin detail-bottom-padding {
  padding-bottom: 60px;

  @include for-tablet-and-smaller {
    padding-bottom: 50px;
  }
}

@mixin phenophase-circle {
  margin: 0.125rem 0.5rem 0.125rem 0.125rem;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: inline-block;
}

@mixin mobile-max-width {
  @include for-tablet-and-smaller {
    max-width: 550px;
  }
}

@mixin mobile-no-left-padding {
  @include for-tablet-and-smaller {
    padding-left: 0;
  }
}

@mixin teaser-card {
  margin-bottom: 1.875rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;

  @include for-tablet-and-smaller {
    margin-bottom: 15px;
  }
}

@mixin teaser-image {
  object-fit: cover;

  width: 180px;
  height: 180px;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  @include for-tablet-and-smaller {
    width: 110px;
    height: 110px;
  }
}

@mixin teaser-description {
  margin: 30px 25px;
  @include for-tablet-and-smaller {
    margin: 8px 10px;
  }
}

@mixin teaser-name {
  padding-bottom: 20px;
  @include for-tablet-and-smaller {
    padding-bottom: 5px;
  }
}

@mixin button {
  max-width: 350px;
  @include for-tablet-and-smaller {
    width: calc(100% - 30px);
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@mixin buttons {
  margin-top: 2.5rem;
  display: flex;
  @include for-tablet-and-smaller {
    flex-direction: column;
  }
}

@mixin button-first-on-mobile {
  @include for-tablet-and-smaller {
    order: -1;
  }
}

@mixin ranger-badge {
  mat-icon {
    vertical-align: text-top;
    margin-top: -1rem;
    width: 20px;
  }
}

@mixin badge {
  background-color: white;
  border-radius: 50%;
}

@mixin card-view {
  @include detail-view;
  @include mobile-max-width;

  max-width: 615px;
  margin-top: 2.625rem;
  border-radius: 1rem;
}

@mixin card-view-content {
  border-radius: 1rem;
  padding: 50px;
}

@mixin dialog {
  border-radius: 1rem;
}

@mixin year-select {
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: -2px;
  @include for-tablet-and-smaller {
    margin-top: -1px;
  }

  mat-select {
    font-weight: bold;
  }
}
