// Button component
button[mat-flat-button],
a[mat-flat-button] {
  border-radius: 35px;
  padding-left: 75px;
  padding-right: 75px;
}

.mat-mdc-unelevated-button.mat-mdc-button-base {
  // adjust default button height
  height: 70px;
}

// cannot make it work globally: $mdc-typography-font-family: unquote('"Open Sans", sans-serif');
.mdc-button {
  // adjust font on button
  font-family: 'Open Sans', Roboto, sans-serif;
}

// Form
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  // remove background from fields in input forms
  background-color: transparent !important;
  // correct padding for filter bars
  padding-right: 5px;
  padding-left: 0;
}

.mat-mdc-form-field-focus-overlay {
  // remove background from fields in input forms
  background-color: transparent !important;
}

// others
/* fix for https://github.com/angular/components/issues/23784 */
#phaenonet-body mat-card-actions.phaenonet-overwrite-mat-card-actions-center {
  display: flex;
  justify-content: center;
}

#phaenonet-body mat-card-subtitle {
  @include typo-t2;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
#phaenonet-body .mat-form-field-underline {
  background-color: #f7f5f2;
}

#phaenonet-body .phenonet-dialog-component mat-dialog-container {
  border-radius: 1rem;
  position: relative;
  padding: 30px;
}

#phaenonet-body .phenonet-dialog-component mat-dialog-container .phenonet-dialog-component-close-button.mat-mdc-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  line-height: 14px;
  font-size: 1.5rem;
}

#phaenonet-body .gm-style .gm-style-iw-c {
  padding: 0;
}

#phaenonet-body .gm-style .gm-style-iw-d {
  overflow: auto !important;
}

#phaenonet-body button.gm-ui-hover-effect {
  display: none !important;
}

// note: colors are also defined in individual-header-graph-component.ts
#phaenonet-body #individual-header-air-temperature .mat-checkbox-background {
  background-color: #6b83ba;
}

#phaenonet-body #individual-header-air-humidity .mat-checkbox-background {
  background-color: #2c3a5c;
}

#phaenonet-body #individual-header-soil-temperature .mat-checkbox-background {
  background-color: #96a68b;
}

#phaenonet-body #individual-header-soil-humidity .mat-checkbox-background {
  background-color: #405240;
}
