@import '~@angular/material/theming';

//https://material.angular.io/guide/typography
//https://stackoverflow.com/questions/49534841/overriding-angular-material-body-typography

// regular:   400
// semi-bold: 500
// bold:      700

$phaenonet-typography: mat-typography-config(
  $font-family: '"Open Sans", "Roboto", sans-serif;',
  $headline: mat-typography-level(1.125rem, 1.5rem, 700, $letter-spacing: 0.0072rem),
  $title: mat-typography-level(1.125rem, 1.5rem, 700, $letter-spacing: 0.007rem),
  $subheading-2: mat-typography-level(1.125rem, 1.5rem, 700, $letter-spacing: 0.18rem),
  $subheading-1: mat-typography-level(0.8125rem, 1.5rem, 700, $letter-spacing: 0.18rem),
  $body-1: mat-typography-level(1rem, 1.375rem, 300, $letter-spacing: 0rem),
  $body-2: mat-typography-level(1rem, 1.375rem, 500, $letter-spacing: 0rem),
  $button: mat-typography-level(1rem, 2.1rem, 300, $letter-spacing: 0.006rem),
  $input: mat-typography-level(1.2rem, 1.5, 300, $letter-spacing: 0.1125rem),
  $caption: mat-typography-level(0.5rem, 1.375rem, 300, $letter-spacing: 0.09rem)
);
