<div class="observation-list">
  <div class="observation-list__title">
    <h2>
      <span *ngIf="isOwner()" translate>MEINE BEOBACHTUNGEN</span>
      <span *ngIf="!isOwner()" translate>BEOBACHTUNGEN</span>
    </h2>
  </div>
  <div *ngIf="userId" class="observation-list__content">
    <app-observation-item
      *ngFor="let item of latestIndividualObservations$ | async"
      [item]="item"
    ></app-observation-item>
    <div class="observation-list__buttons">
      <button
        class="observation-list__button"
        *ngIf="isOwner()"
        mat-flat-button
        color="primary"
        [routerLink]="'/individuals/new/edit'"
      >
        <mat-icon>add</mat-icon>
        <span>{{ 'Objekt hinzufügen' | translate }}</span>
      </button>
      <button
        class="observation-list__button observation-list__button--more"
        mat-flat-button
        color="accent"
        (click)="showMoreIndividuals()"
      >
        <span>{{ 'Mehr anzeigen' | translate }}</span>
      </button>
    </div>
  </div>
</div>
