<div gdColumns="repeat(8, 1fr)" class="statistics-overview">
  <div
    #statisticsContainer
    class="chart-view"
    gdColumn="2 / span 6"
    gdColumn.lt-md="1 / span 8"
    width="100%"
    height="100%"
  >
    <div class="statistics-filter">
      <div>
        <form [formGroup]="filterForm">
          <mat-form-field>
            <mat-label>{{ 'Phänojahr' | translate }}</mat-label>
            <mat-select formControlName="year">
              <mat-option *ngFor="let year of selectableYears$ | async" [value]="year">{{
                year.id | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'Datenquelle' | translate }}</mat-label>
            <mat-select formControlName="datasource">
              <mat-option *ngFor="let datasource of selectableDatasources" [value]="datasource">{{
                datasource | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'Auswertung' | translate }}</mat-label>
            <mat-select formControlName="analyticsType">
              <mat-option *ngFor="let analyticsType of selectableAnalyticsTypes" [value]="analyticsType">{{
                analyticsType | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'Art' | translate }}</mat-label>
            <mat-select formControlName="species">
              <mat-option *ngFor="let s of selectableSpecies$ | async" [value]="s.id">{{
                s.de | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-icon-button
            class="statistics-info-button"
            matTooltip="{{
              'Dargestellt sind der Median (mittleres Eintrittsdatum der Phase; Strich in der Box) und das 25% sowie das 75% Quantil, was bedeutet, dass 50% der beobachteten Werte innerhalb der farbigen Box liegen.'
                | translate
            }}"
          >
            <mat-icon>info</mat-icon>
          </button>
        </form>
      </div>
    </div>
    <svg width="100%" height="100%"></svg>
    <div id="tooltip" class="hidden">
      <p><strong id="title">Phenophase</strong></p>
      <p><span id="value">100</span></p>
    </div>
  </div>
</div>
