.statistics-overview {
  height: calc(100vh - 6.8rem);
}

.statistics-filter {
  form {
    display: flex;
    flex-direction: row;

    mat-form-field {
      margin: 1rem;
    }
  }
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}
