@import '../../theming/mixins';

.statistics-overview {
  height: 74vh;
  @include default-left-right-padding;

  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  width: auto;

  display: flex;
  flex-direction: row;
}

.chart-view {
  width: 100%;
  height: 100%;
}

.statistics-filter {
  form {
    display: flex;
    flex-direction: row;

    mat-form-field {
      margin: 1rem;
    }

    .statistics-info-button {
      margin-top: 2rem;
    }

    @include for-tablet-and-smaller {
      .mat-form-field {
        width: 6rem;
        font-size: 0.875rem;
        margin-bottom: 0;
      }

      .statistics-info-button {
        margin-top: 1.5rem;
      }
    }

    @include for-phone {
      .mat-form-field {
        width: 3.5rem;
        margin: 0.5rem;
        font-size: 0.75rem;
        margin-bottom: 0;
      }

      .statistics-info-button {
        margin-top: 0.8rem;
      }
    }
  }
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}
