@import '../../theming/mixins';

.statistics-overview {
  height: 74vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.chart-view {
  grid-column: 2 / span 6;
  width: 100%;
  height: 100%;
  @include for-tablet-and-smaller {
    grid-column: 1 / span 8;
  }
}

.statistics-filter {
  form {
    display: flex;
    flex-direction: row;

    @include for-tablet-and-smaller {
      .mat-form-field {
        width: 6rem;
        font-size: var(--t3-size);
        margin-bottom: 0;
      }

      .statistics-info-button {
        margin-top: 1rem;
      }
    }

    mat-form-field {
      margin: 1rem;
    }

    .statistics-info-button {
      margin-top: 2rem;
    }
  }
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}
