<div gdColumns="repeat(8, 1fr)" class="statistics-overview">
  <div #statisticsContainer class="chart-view" gdColumn="2 / span 6" width="100%" height="100%">
    <div class="statistics-filter">
      <div>
        <form [formGroup]="filterForm">
          <mat-form-field>
            <mat-label>{{ 'Phänojahr' | translate }}</mat-label>
            <mat-select formControlName="year">
              <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'Datenquelle' | translate }}</mat-label>
            <mat-select formControlName="datasource">
              <mat-option *ngFor="let datasource of datasources" [value]="datasource">{{
                datasource | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'Auswertung' | translate }}</mat-label>
            <mat-select formControlName="analyticsType">
              <mat-option *ngFor="let analyticsType of analyticsTypes" [value]="analyticsType">{{
                analyticsType | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'Art' | translate }}</mat-label>
            <mat-select formControlName="species">
              <mat-option *ngFor="let s of (species | async)" [value]="s.id">{{ s.de | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <svg width="100%" height="100%"></svg>
    <div id="tooltip" class="hidden">
      <p><strong id="title">Phenophase</strong></p>
      <p><span id="value">100</span></p>
    </div>
  </div>
</div>
