name: Version Updater

on:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * 5'

env:
  NODE_VERSION: '<loaded from .env>'
  PNPM_VERSION: '<loaded from .env>'

jobs:
  actions-update:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          # [Required] Access token with `workflow` scope.
          token: ${{ secrets.WORKFLOW_ACCESS_TOKEN }}
          persist-credentials: false
      - name: Run GitHub Actions Version Updater
        uses: saadmk11/github-actions-version-updater@v0.9.0
        with:
          # [Required] Access token with `workflow` scope.
          token: ${{ secrets.WORKFLOW_ACCESS_TOKEN }}
          pull_request_title: '[Automated] Update GitHub Action Versions [no ci]'
          commit_message: 'Update GitHub Action Versions [no ci]'
          extra_workflow_locations: .github/actions
  npm-update:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false
      - name: Set environment variables
        run: cat .env >> $GITHUB_ENV
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm update -r
      - name: Check for changes
        id: git-check
        run: |
          git diff --exit-code || echo "changes=true" >> $GITHUB_OUTPUT
      - name: Create Pull Request
        if: ${{ steps.git-check.outputs.changes == 'true' }}
        uses: peter-evans/create-pull-request@v7.0.8
        with:
          # required to trigger e2e-test workflow
          token: ${{ secrets.WORKFLOW_ACCESS_TOKEN }}
          commit-message: 'Update packages'
          title: '[Automated] Update npm Packages'
          body: 'Automated changes by GitHub Actions'
          branch: automated-update
          delete-branch: true
