<button class="phenonet-dialog-component-close-button" mat-button (click)="close()" tabindex="-1">
  <mat-icon>clear</mat-icon>
</button>
<div class="change-password-dialog">
  <h2 mat-dialog-title>{{ 'PASSWORT ÄNDERN' | translate }}</h2>
  <div mat-dialog-content>
    <form [formGroup]="changePasswordForm">
      <mat-form-field class="full-width">
        <mat-label>{{ 'Aktuelles Passwort' | translate }} </mat-label>

        <input
          matInput
          type="password"
          formControlName="currentPassword"
          id="currentPassword"
          required
          autocomplete="current-password"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>{{ 'Neues Passwort' | translate }} </mat-label>

        <input
          matInput
          type="password"
          formControlName="password"
          id="newPassword"
          required
          minlength="6"
          autocomplete="new-password"
        />
        <mat-error>{{ 'Das Passwort muss mindestens 6 Zeichen lang sein.' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>{{ 'Neues Passwort bestätigen' | translate }} </mat-label>

        <input
          matInput
          type="password"
          formControlName="passwordConfirm"
          id="confirmPassword"
          required
          autocomplete="new-password"
        />
      </mat-form-field>
      @if (changePasswordForm.hasError('passwordMissmatch')) {
        <mat-error>
          {{ 'Die Passwörter stimmen nicht überein.' | translate }}
        </mat-error>
      }
      <div class="change-password-dialog__buttons">
        <button
          mat-flat-button
          color="accent"
          [mat-dialog-close]="{
            currentPassword: changePasswordForm.controls.currentPassword.value,
            password: changePasswordForm.controls.password.value
          }"
          type="submit"
          [disabled]="changePasswordForm.invalid"
          class="change-password-dialog__button"
        >
          {{ 'Speichern' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
