@use '@angular/material' as mat;

@use 'src/theming/mixins';

@use 'src/theming/typography';

mat-icon {
  cursor: pointer;
}

.profile-edit {
  @include mixins.detail-view;

  @include mixins.for-tablet-and-smaller {
    max-width: 550px;
  }

  &__content {
    @include mixins.detail-view-content;
  }

  &__title {
    @include mixins.left-column;
  }

  &__right-column {
    @include mixins.profile-detail-right-column;
  }

  &__form-field {
    display: block;
  }

  &__button {
    @include mixins.button;

    &--secondary {
      @include mixins.button-first-on-mobile;
    }
  }

  &__buttons {
    @include mixins.buttons;
  }
}
